<div>
  <br>
  <p><b>Bootstrap - Lesson 2</b></p>
  <hr><br>
  <h1 class="text-center text-uppercase">Hello world!!!</h1>
  <h2 class="text-end">Second</h2>
  <h3>3 title</h3>

  <hr>

  <div class="card">
    <div class="card-body">
      <div class="display-1 text-muted">Hello world!!!</div>
      <div>Second</div>
      <div class="text-capitalize">3 title one two</div>
    </div>
  </div>


  <hr>

  <span class="text-muted">Додатковий текст</span>

  <hr>

  <button class="btn btn-outline-warning">My text</button>

  <hr>

  <div class="card">
    <div class="card-body">
      This is content
    </div>
  </div>



</div>

<br><br><br>

<div class="row gy-5">
  <p><b>Bootstrap - Lesson 3</b></p>

  <hr>
  <br>
  <section class="col-12">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/600/300" alt="Product photo">
      <div class="card-body text-bg-light">
        <h5 class="card-title text-bg-info">Код: 340280239</h5>
        <p class="text-bg-dark">Мобільний телефон Samsung Galaxy M33 5G</p>
        <a href="https://rozetka.com.ua/samsung-sm-m336bzngsek/p340280239/" class="btn btn-primary">Open</a>
      </div>

    </div>
  </section>
  <hr>

  <div class="list-group">
    <div class="list-group-item">
      <div class="list-group">
        <div class="list-group-item">
          Item 1.1
        </div>
        <div class="list-group-item">
          Item 1.2
        </div>
      </div>
    </div>
    <div class="list-group-item">
      Item 2
    </div>
    <div class="list-group-item">
      Item 3
    </div>
  </div>

  <hr>

  <div class="card">

    <div class="card-header">
      <div><b>- Menu -</b></div>
    </div>

    <div class="list-group">
      <div class="list-group-item">
        <a href="/" class="btn btn-link">Home page</a>
      </div>
      <div class="list-group-item">
        <a href="/summary" class="btn btn-link">Summary page</a>
      </div>
      <div class="list-group-item">
        <a href="/skills" class="btn btn-link">Skills page</a>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-dark btn-sm">Update list</button>
    </div>

  </div>

  <br>
  <hr>
  <br>

  <h5>Menu</h5>
  <div class="list-group">
    <div class="list-group-item">
      <a href="/" class="btn btn-link">Home page</a>
    </div>
    <div class="list-group-item">
      <a href="/summary" class="btn btn-link">Summary page</a>
    </div>
    <div class="list-group-item">
      <a href="/skills" class="btn btn-link">Skills page</a>
    </div>
  </div>

  <br>
  <hr>
  <br>


  <table class="table table-striped table-bordered">
    <thead class="text-bg-primary">
      <tr>
        <th>
          #
        </th>
        <th>
          name
        </th>
        <th>
          age
        </th>
        <th>
          name
        </th>
        <th>
          age
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="text-bg-secondary">
        <th class="text-bg-info">
          1
        </th>
        <td>
          John
        </td>
        <td>
          35
        </td>
        <td>
          John
        </td>
        <td>
          35
        </td>
      </tr>

      <tr class="text-bg-success">
        <th class="text-bg-info">
          2
        </th>
        <td>
          Ivan
        </td>
        <td>
          30
        </td>
        <td>
          John
        </td>
        <td>
          35
        </td>
      </tr>

      <tr class="text-bg-danger">
        <th class="text-bg-info">
          3
        </th>
        <td>
          Tom
        </td>
        <td>
          40
        </td>
        <td>
          John
        </td>
        <td>
          35
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <hr>
  <br>


  <div class="card text-bg-success">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
      <h6 class="card-title">This is title</h6>
      <p>This is content of our box</p>
      <button class="btn btn-light">Click!</button>
    </div>
    <div class="card-footer text-center">Footer</div>
  </div>


  <br>
  <hr>
  <br>

  <div class="row g-4">
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
  </div>




  <br>
  <hr>
  <br>


  <div class="row">
    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
  </div>




</div>

<br>
<hr><br>
<hr><br>

<div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="nav">
            <div class="nav-item">
              <a href="#" class="nav-link">Home page</a>
            </div>

            <div class="nav-item">
              <a href="#" class="nav-link active">Catalog</a>
            </div>

            <div class="nav-item">
              <a href="/src/container/bootstrap.hbs" class="nav-link disabled">Bootstrap</a>
            </div>

            <div class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <hr>
  <br>

  <div class="row g-4">
    <div class="col-12">
      <div class="nav nav-tabs">
        <div class="nav-item">

          <a href="#" class="nav-link">Home page</a>

        </div>
        <br>
        <div class="nav-item">

          <a href="#" class="nav-link active">Catalog</a>

        </div>
        <br>
        <div class="nav-item">

          <a href="/src/container/bootstrap.hbs" class="nav-link disabled">Bootstrap</a>

        </div>
        <br>
        <div class="nav-item">

          <a href="#" class="nav-link">Contact</a>

        </div>
      </div>
    </div>

    <br>
    <hr>
    <br>

    <div class="col-4">

      <div class="card">
        <div class="card-body">
          <div class="nav flex-column">
            <div class="nav-item mb-2">
              <div class="card">
                {{> link text="Main" href="/" line=true noLine=true}}
              </div>
            </div>

            <div class="nav-item mb-2">
              <div class="card">
                <a href="#" class="nav-link active">Catalog</a>
              </div>
            </div>

            <div class="nav-item mb-2">
              <div class="card">
                <a href="/src/container/bootstrap.hbs" class="nav-link disabled">Bootstrap</a>
              </div>
            </div>

            <div class="nav-item">
              <div class="card">
                <a href="#" class="nav-link">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>
    <hr>
    <br>

    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href=" #" class="Home">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href=" #" class="Home">PC end Notebook</a>
            </li>
            <li class="breadcrumb-item">
              <a href=" #" class="Home">MacBook</a>
            </li>
          </ol>
        </div>
        <div class="col-12">
          <h6>Hello world! <span class="badge text-bg-primary rounded-pill">NEW</span></h6>
          <button class="btn btn-primary rounded-pill m-3">Click me!</button>

          <br>
          <br>

          <div class="alert alert-primary m-0">This is very important!</div>

          <br>
          <br>

          <div class="alert alert-primary">
            <h6 class="m-0">Hello world! <span class="badge text-bg-primary rounded-pill">NEW</span></h6>
            <button class="btn btn-primary rounded-pill m-4">Click me!</button>
          </div>
        </div>
      </div>
    </div>





  </div>





























</div>

<hr><br>
<hr><br>



<div class="p-1">
  {{!-- <form> буде використовуватись вже при відправці даних на реальний сервер--}}
    {{!-- </form> --}}

  <div class="row g-5">
    <div class="col-6">
      <label class="form-label">Email address</label>
      <input class="form-control">
      <div class="form-text text-danger">Error. You need to set correct email</div>
    </div>
    <div class="col-6">
      <label class="form-label">Email address</label>
      <input disabled class="form-control">
      <div class="form-text text-danger">Error. You need to set correct email</div>
    </div>
    <div class="col-12">
      <label class="form-label">Email address</label>
      <div class="row">
        <div class="col-4">
          <input type="color" class="form-control">
        </div>
        <div class="col-4">
          <input type="color" class="form-control">
        </div>
        <div class="col-4">
          <input type="color" class="form-control">
        </div>
      </div>
      <div class="form-text text-danger">Error. You need to set correct email</div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-1">
          <label class="form-label">Email address</label>
        </div>
        <div class="col-4">
          <input class="form-control">
        </div>
        <div class="col-5 ps-5 pt-1">
          <div class="form-text text-danger">Error. You need to set correct email</div>
        </div>
      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-1">
          <label class="form-label">Email address</label>
        </div>
        <div class="col-4">
          <input class="form-control form-control-lg">
        </div>
        <div class="col-5 ps-5 pt-1">
          <div class="form-text text-danger">class="form-control-lg"</div>
        </div>
      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-1">
          <label class="form-label">Email address</label>
        </div>
        <div class="col-4">
          <input class="form-control form-control-sm">
        </div>
        <div class="col-5 ps-5 pt-1">
          <div class="form-text text-danger">class="form-control-sm"</div>
        </div>
      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-1">
          <label class="form-label">Select role</label>
        </div>
        <div class="col-4">
          <select class="form-control form-control-sm">
            <option selected>Open list</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
          </select>
        </div>

      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-1">
          <label class="form-label">Select role</label>
        </div>
        <div class="col-4">
          <select class="form-select form-select-lg">
            <option selected>Open list</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
          </select>
        </div>
        <div class="col-5 ps-3 pt-1">
          <div class="form-text text-danger">class="form-select-lg"</div>
        </div>
      </div>



    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-1">
          <label class="form-label">Select role</label>
        </div>
        <div class="col-4">
          <select class="form-select form-select-sm">
            <option selected>Open list</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
          </select>
        </div>
        <div class="col-5 ps-3 pt-1">
          <div class="form-text text-danger">class="form-select-sm"</div>
        </div>
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
      <label for="form-label">Select food</label>
      <div class="form-check">
        <label class="form-check-label">Apple</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>
      <div class="form-check">
        <label class="form-check-label">Orange</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>
      <div class="form-check">
        <label class="form-check-label">Banana</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>

    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
      <label for="form-label">Select food</label>
      <div class="form-check">
        <label class="form-check-label">Apple</label>
        <input name="food" type="radio" class="form-check-input">
      </div>
      <div class="form-check">
        <label class="form-check-label">Orange</label>
        <input name="food" type="radio" class="form-check-input">
      </div>
      <div class="form-check">
        <label class="form-check-label">Banana</label>
        <input name="food" type="radio" class="form-check-input">
      </div>

    </div>



    <div class="col-12">
      <label form="form-label">Select food</label>
      <div class="form-check form-switch">
        <label class="form-check-label">Apple</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>
      <div class="form-check form-switch">
        <label class="form-check-label">Orange</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>
      <div class="form-check">
        <label class="form-check-label">Banana</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>

    </div>

    <div>
      <hr>
      <hr>
    </div>



    <div>
      <h1><i class="bi bi-badge-tm-fill"></i></h1>
      <h2><i class="bi bi-brush"></i></h2>
    </div>

    <div>
      <h1><i class="fa-brands fa-slack fa-beat"></i></h1>
      <h1><i class="fa-brands fa-slack fa-beat" style="color: #479929;"></i></h1>
    </div>









  </div>
















</div>