<div>
  <br>
  <p><b>Bootstrap - Lesson 2</b></p>
  <hr><br>
  <h1 class="text-center text-uppercase">Hello world!!!</h1>
  <h2 class="text-end">Second</h2>
  <h3>3 title</h3>

  <hr>

  <div class="card">
    <div class="card-body">
      <div class="display-1 text-muted">Hello world!!!</div>
      <div>Second</div>
      <div class="text-capitalize">3 title one two</div>
    </div>
  </div>


  <hr>

  <span class="text-muted">Додатковий текст</span>

  <hr>

  <button class="btn btn-outline-warning">My text</button>

  <hr>

  <div class="card">
    <div class="card-body">
      This is content
    </div>
  </div>



</div>

<br><br><br>

<div class="row gy-5">
  <p><b>Bootstrap - Lesson 3</b></p>

  <hr>
  <br>
  <section class="col-12">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/600/300" alt="Product photo">
      <div class="card-body text-bg-light">
        <h5 class="card-title text-bg-info">Код: 340280239</h5>
        <p class="text-bg-dark">Мобільний телефон Samsung Galaxy M33 5G</p>
        <a href="https://rozetka.com.ua/samsung-sm-m336bzngsek/p340280239/" class="btn btn-primary">Open</a>
      </div>

    </div>
  </section>
  <hr>

  <div class="list-group">
    <div class="list-group-item">
      <div class="list-group">
        <div class="list-group-item">
          Item 1.1
        </div>
        <div class="list-group-item">
          Item 1.2
        </div>
      </div>
    </div>
    <div class="list-group-item">
      Item 2
    </div>
    <div class="list-group-item">
      Item 3
    </div>
  </div>

  <hr>

  <div class="card">

    <div class="card-header">
      <div><b>- Menu -</b></div>
    </div>

    <div class="list-group">
      <div class="list-group-item">
        <a href="/" class="btn btn-link">Home page</a>
      </div>
      <div class="list-group-item">
        <a href="/summary" class="btn btn-link">Summary page</a>
      </div>
      <div class="list-group-item">
        <a href="/skills" class="btn btn-link">Skills page</a>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-dark btn-sm">Update list</button>
    </div>

  </div>

  <br>
  <hr>
  <br>

  <h5>Menu</h5>
  <div class="list-group">
    <div class="list-group-item">
      <a href="/" class="btn btn-link">Home page</a>
    </div>
    <div class="list-group-item">
      <a href="/summary" class="btn btn-link">Summary page</a>
    </div>
    <div class="list-group-item">
      <a href="/skills" class="btn btn-link">Skills page</a>
    </div>
  </div>

  <br>
  <hr>
  <br>


  <table class="table table-striped table-bordered">
    <thead class="text-bg-primary">
      <tr>
        <th>
          #
        </th>
        <th>
          name
        </th>
        <th>
          age
        </th>
        <th>
          name
        </th>
        <th>
          age
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="text-bg-secondary">
        <th class="text-bg-info">
          1
        </th>
        <td>
          John
        </td>
        <td>
          35
        </td>
        <td>
          John
        </td>
        <td>
          35
        </td>
      </tr>

      <tr class="text-bg-success">
        <th class="text-bg-info">
          2
        </th>
        <td>
          Ivan
        </td>
        <td>
          30
        </td>
        <td>
          John
        </td>
        <td>
          35
        </td>
      </tr>

      <tr class="text-bg-danger">
        <th class="text-bg-info">
          3
        </th>
        <td>
          Tom
        </td>
        <td>
          40
        </td>
        <td>
          John
        </td>
        <td>
          35
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <hr>
  <br>


  {{!-- <div class="card text-bg-success">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
      <h6 class="card-title">This is title</h6>
      <p>This is content of our box</p>
      <button class="btn btn-light">Click!</button>
    </div>
    <div class="card-footer text-center">Footer</div>
  </div> --}}


  <br>
  <hr>
  <br>

  <div class="row g-4">
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
  </div>




  <br>
  <hr>
  <br>


  <div class="row">
    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
  </div>




</div>