<h3>Словник сучасних та
  продвинутих CSS
  властивостей для
  робити з текстом
  та шрифтом</h3>
<details>
  <summary>
    <h4>
      Колір
    </h4>
    <p>
      lab() — це CSS функція, яка використовується для
      встановлення кольору в просторі кольорів CIELAB.
    </p>
  </summary>


  <div class="alerts-container">

    <div class=" col-7">
      <div class="alert  a-primary alert-info" style="color: red">
        .example {<br>
        color: lab(90, 10, -45);<br>
        }<br>
      </div>
    </div>

    <div class=" col-5">
      <div class="a-secondary">
        <div class="alert alert-info">
          <h5>lab()</h5>
        </div>
      </div>
    </div>

  </div>



  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>L</td>
      <td>Cвітлота, яка представляється як число в діапазоні
        від 0 до 100</td>
    </tr>

    <tr>
      <td>a</td>
      <td>Відтінок червоного/зеленого, де значення позитивне
        для червоного, а негативне для зеленого</td>
    </tr>
    <tr>
      <td>b</td>
      <td>Відтінок жовтого/синього, де значення позитивне
        для жовтого, а негативне для синього</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Прозорість, яка представляється як число в
        діапазоні від 0% до 100%</td>
    </tr>


  </table>

</details>

<details>
  <summary>
    <h4>
      Колір lch()
    </h4>
    <p>
      lch() — це CSS функція, яка представляє колір у просторі
      LCH (Lightness, Chroma, Hue) з використанням значень
      світлості, насиченості та відтінку.
    </p>
  </summary>





  <div class="alerts-container">

    <div class=" col-7">
      <div class="alert  a-primary alert-info" style="color: red">
        .example {<br>
        background-color: lch(70, 50, 120);<br>
        }<br>
      </div>
    </div>

    <div class=" col-5">
      <div class="a-secondary">
        <div class="alert alert-info">
          <h5>lch()</h5>
        </div>
      </div>
    </div>

  </div>




  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>lightness</td>
      <td>Визначає світлість коліру. Має значення від 0 до
        100, де 0 - абсолютний чорний колір, а 100 -
        абсолютно білий</td>
    </tr>

    <tr>
      <td>chroma</td>
      <td>Визначає насиченість коліру. Має значення від 0 до
        100, де 0 - відсутність насиченості, а 100 -
        максимальна насиченість</td>
    </tr>
    <tr>
      <td>hue</td>
      <td>Визначає відтінок коліру. Має значення від 0 до 360,
        де 0 і 360 - червоний колір, 120 - зелений колір, а
        240 - синій колір</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Прозорість, яка представляється як число в
        діапазоні від 0% до 100%</td>
    </tr>


  </table>

</details>

<details>
  <summary>
    <h4>
      Змішання кольору
    </h4>
    <p>
      color-mix() — це CSS функція, яка застосовується для
      створення нового колірного значення, змішуючи два
      вихідних кольори у відсотках або числах.
    </p>
  </summary>




  <div class="row">

    <div class="alerts-container">

      <div class="col-7">
        <div class="alert  a-primary alert-info" style="color: red">
          .example {<br>
          background-color: color-mix(#ff0000, #0000ff);<br>
          }<br>
        </div>
      </div>

      <div class="col-5">
        <div class="a-secondary">
          <div class="alert alert-info">
            <h5>color-mix()</h5>
          </div>
        </div>
      </div>

    </div>

  </div>


  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>
    <tr>
      <td>
        &lt;color1&gt;, &lt;color2&gt; ...

      </td>
      <td>Список кольорів, які необхідно змішати.</td>
    </tr>
  </table>

</details>

<details>
  <summary>
    <h4>
      Колір акценту
    </h4>
    <p>
      <b>accent-color</b> — це CSS властивість, яка встановлює колір
      акценту, який використовується в різних елементах
      інтерфейсу, таких як кнопки, радіо-кнопки, чекбокси, полоси
      прокрутки та інші
    </p>
  </summary>
  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            .example {<br>
            accent-color: blue;<br>
            }<br>
          </div>
        </div>

        <div class="col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>accent-color()</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/accent-color.html">Перейти на онлайн демо
              </a>
            </div>
          </div>

        </div>
      </div>


    </div>

    <table class="rounded">
      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>
          &lt;color&gt;

        </td>
        <td>Колір акценту</td>
      </tr>


    </table>

  </div>
</details>

<details>
  <summary>
    <h4>
      Колір hwb()
    </h4>
    <p>
      hwb() — це CSS функція, яка використовується для
      визначення кольорів за стандартом HWB (Hue-WhitenessBlackness) в CSS.

    </p>
  </summary>
  <div class="row">
    <div class="alerts-container">
      <div class="col-7">
        <div class="alert  a-primary alert-info" style="color: red">
          .example {<br>
          color: hwb(60, 40%, 0%);<br>
          }<br>
        </div>
      </div>
      <div class="col-5">
        <div class="a-secondary">

          <div class="alert alert-info">
            <h5>hwb()</h5>
          </div>

          <div class="alert alert-info">
            <a href="https://interactive-examples.mdn.mozilla.net/pages/css/function-hwb.html">Перейти на онлайн демо
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>hue</td>
      <td>Відтінок від 0 до 360 градусів</td>
    </tr>

    <tr>
      <td>whiteness</td>
      <td>Насиченість білого від 0 до 100%</td>
    </tr>
    <tr>
      <td>blackness</td>
      <td>Насиченість чорного від 0 до 100%</td>
    </tr>

  </table>

</details>

<details>
  <summary>
    <h4>
      Налаштування кольорів друку
    </h4>
    <p>
      print-color-adjust — це CSS властивість, яка визначає, як
      браузер має поводитись з налаштуванням кольорів під час
      друку сторінки.
    </p>
  </summary>


  <div class="row">

    <div class="alerts-container">

      <div class="col-7">
        <div class="alert  a-primary alert-info" style="color: red">
          .example {<br>
          print-color-adjust:economy;<br>
          }<br>
        </div>
      </div>

      <div class="col-5">
        <div class="a-secondary">
          <div class="alert alert-info">
            <h5>print-color-adjust</h5>
          </div>
        </div>
      </div>

    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>economy</td>
      <td>Вказує браузеру, що потрібно зменшити витрати
        кольорового тонера на друкованій сторінці, якщо це
        можливо
      </td>
    </tr>

    <tr>
      <td>exact</td>
      <td>Вказує браузеру, що кольори на друкованій сторінці
        мають бути точними кольорами, які
        відображаються на екрані</td>
    </tr>

  </table>

</details>

<details>
  <summary>
    <h4>
      Рендеринг тексту
    </h4>
    <p>
      text-rendering — використовується для встановлення того,
      як браузер повинен візуалізувати текст на сторінці.
    </p>
    <p>
      Потрібно для СЕО-оптимізації
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            text-rendering: optimizeSpeed;<br>
            }<br>
          </div>
        </div>

        <div class="col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>text-rendering</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>auto</td>
        <td>Браузер визначає, який метод рендерингу (малюванні)
          тексту використовувати.
          Це значення за замовчуванням.</td>
      </tr>

      <tr>
        <td>optimizeSpeed</td>
        <td>Швидший метод рендерингу, але текст може
          відображатись менш якісно. Він вимикає кернінг і
          лігатури.</td>
      </tr>
      <tr>
        <td>optimizeLegibility</td>
        <td>Краща якість рендерингу тексту, але може бути
          повільнішим.</td>
      </tr>
      <tr>
        <td>geometricPrecision</td>
        <td>Рендеринг тексту точніший, але менш оптимальний
          для відображення на великих екранах.</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Акцент тексту
    </h4>
    <p>
      text-emphasis — використовується для встановлення
      відмітки над певним текстом. Не працює Opera Mini та IE
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            text-emphasis: dot #112233;<br>
            text-emphasis: 'x' blue;<br>
            text-emphasis: filled red;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>text-rendering</h5>
            </div>
          </div>
          <div class="alert alert-info">
            <a href="https://interactive-examples.mdn.mozilla.net/pages/css/text-emphasis.html">Перейти на онлайн демо
            </a>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>
          &lt;style&gt;, &lt;color&gt;
        </td>
        <td>style - стиль відмітки, color - колір відмітки</td>
      </tr>

      <tr>
        <td>&lt;style&gt;</td>
        <td>Доступна окрема властивість text-emphasis-style</td>
      </tr>
      <tr>
        <td>&lt;color&gt;</td>
        <td>Доступна окрема властивість text-emphasis-color</td>
      </tr>
      <tr>
        <td>geometricPrecision</td>
        <td>Рендеринг тексту точніший, але менш оптимальний
          для відображення на великих екранах.</td>
      </tr>

    </table>

    <h5>text-emphasis-style</h5>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>none</td>
        <td>Відмітки немає</td>
      </tr>
      <tr>
        <td>filled</td>
        <td>Робить відмітку тексту заповненою</td>
      </tr>
      <tr>
        <td>open</td>
        <td>Робить відмітку тексту лише обведенням</td>
      </tr>
      <tr>
        <td>dot</td>
        <td>Відображує маленькі кружечки («•») як позначки</td>
      </tr>

      <tr>
        <td>circle</td>
        <td>Відображує великі кола («●») як позначки</td>
      </tr>
      <tr>
        <td>double-circle</td>
        <td>Відображує подвійні кола («◉») як позначки</td>
      </tr>
      <tr>
        <td>triangle</td>
        <td>Відображує трикутники («▲») як позначки</td>
      </tr>
      <tr>
        <td>sesame</td>
        <td>Відображує кунжут («﹅») як позначки.
          Це форма за замовчуванням у вертикальних режимах
          написання, якщо іншої форми не задано.</td>
      </tr>

    </table>

    <h5>text-emphasis-style</h5>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>&lt;string&gt;</td>
        <td>Відобразити заданий рядок тексту як позначки.
          Треба вказувати лише один символ.</td>
      </tr>

    </table>

    <h5>text-emphasis-style</h5>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>&lt;color&gt;</td>
        <td>Визначає колір позначки. Якщо колір відсутній, за
          умовчанням використовується поточний колір тексту</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Позиція маркування тексту
    </h4>
    <p>
      text-emphasis-position — використовується для визначення
      позиції маркування тексту, яке додається за допомогою
      властивості "text-emphasis-style"
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            text-emphasis-style: filled;<br>
            text-emphasis-position: over right;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>text-emphasis-position</h5>
            </div>

            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/text-emphasis-position.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>over right</td>
      <td>Маркування тексту розташовується над текстом, з
        правого боку</td>
    </tr>

    <tr>
      <td>over left</td>
      <td>Маркування тексту розташовується над текстом, з
        лівого боку</td>
    </tr>
    <tr>
      <td>under right</td>
      <td>Маркування тексту розташовується під текстом, з
        правого боку</td>
    </tr>
    <tr>
      <td>right</td>
      <td>Маркування тексту розташовується праворуч від
        тексту</td>
    </tr>
    <tr>
      <td>left</td>
      <td>Маркування тексту розташовується ліворуч від тексту</td>
    </tr>

  </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Подвійне кодування символів
    </h4>
    <p>
      unicode-bidi — використовується для визначення напряму
      текстування в багатомовних документах, де різні мови
      можуть використовуватись в одному рядку.
    </p>
    <p>
      Використовується разом із властивістю direction.
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            unicode-bidi:embed;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>unicode-bidi</h5>
            </div>
          </div>

          <div class="alert alert-info">
            <a href="https://interactive-examples.mdn.mozilla.net/pages/css/unicode-bidi.html">Перейти на онлайн демо
            </a>
          </div>

        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Значення за умовчанням.

          Напрямок відображення тексту зліва направо.</td>
      </tr>

      <tr>
        <td>embed</td>
        <td>Вказує, що текст в дочірньому елементі має вбудовуватися в
          потік тексту батьківського елемента, зберігаючи порядок його
          написання відповідно до мови</td>
      </tr>
      <tr>
        <td>bidi-override</td>
        <td>Перевизначає напрям тексту для вбудованих елементів</td>
      </tr>
      <tr>
        <td>isolate</td>
        <td>Вказує, що елемент повинен бути оточений двома
          напрямними знаками (LRO та RLO), які ізолюють напрямок
          тексту в межах цього елемента від батьківського напрямку
          тексту.</td>
      </tr>
      <tr>
        <td>isolate-override</td>
        <td>Змінює напрямок тексту для внутрішніх елементів блоку, які
          не спадають під загальний контекст написання.</td>
      </tr>
      <tr>
        <td>plaintext</td>
        <td>Вказує, що текст не містить змін напрямку текстування і не
          вимагає жодних спеціальних правил для відображення
          тексту.</td>
      </tr>
    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Орієнтація тексту
    </h4>
    <p>
      <b>text-orientation</b> - це властивість, яка визначає орієнтацію
      тексту всередині рядка.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            text-orientation: upright;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>text-orientation</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/text-orientation.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>mixed</td>
        <td>Текст може бути написаний горизонтально або вертикально
          залежно від контексту. Значенням за замовчуванням</td>
      </tr>

      <tr>
        <td>upright</td>
        <td>Текст пишеться вертикально</td>
      </tr>
      <tr>
        <td>sideways</td>
        <td>Текст повернутий на 90 градусів за годинниковою стрілкою
          вліво, а потім зображається вертикально</td>
      </tr>
      <tr>
        <td>initial</td>
        <td>Встановлює значення властивості значення за замовчуванням.</td>
      </tr>
      <tr>
        <td>inherit</td>
        <td>Наслідує значення властивості батьківського елемента.</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>

    <h4>
      text-orientation
      чи writing-mode?
    </h4>
    <p>
      <b>text-orientation</b> та <b>writing-mode</b> є двома різними CSS властивостями, що
      впливають на розміщення та відображення тексту в веб-документах.
    </p>

  </summary>

  <div>

    <p>
      Основна різниця між цими двома властивостями полягає у тому, що textorientation визначає орієнтацію тексту в межах
      лінійного простору блока,
      тоді як writing-mode визначає напрямок письма тексту, що може включати
      орієнтацію та напрямок тексту.
    </p>
    <p>
      Наприклад, якщо ми хочемо вивести текст вертикально, ми можемо
      встановити значення <b>writing-mode: vertical-rl</b>; для відповідного елементу.
      Таким чином, текст буде відображатись зверху вниз.
    </p>
    <p>
      Якщо ж нам потрібно зробити так, щоб текст відображався вертикально та
      був написаний зліва направо, ми можемо встановити <b>writing-mode:
        vertical-rl</b>; та <b>text-orientation: upright</b>; для відповідного елементу.
    </p>

  </div>
</details>

<details>
  <summary>
    <h4>
      Лапки
    </h4>
    <p>
      <b>quotes</b> — використовується для встановлення лапок, що
      використовуються для цитування тексту. За замовчуванням
      лапками оформляється текст, укладений у тег &lt;q&gt;.
    </p>
    <p>
      Потрібно для СЕО-оптимізації
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            q {<br>
            quotes: "«" "»";<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>quotes</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/quotes.html">Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>&lt;string&gt; &lt;string&gt;</td>
        <td>Вказує власні символи для лапок</td>
      </tr>

      <tr>
        <td>none</td>
        <td>Лапки не відображаються</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Вирівнювання
      останнього рядка
    </h4>
    <p>
      text-align-last — визначає вирівнювання останнього рядка
      блоку або рядка безпосередньо перед примусовим
      розривом рядка.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            text-align-last: start;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>text-align-last</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/text-align-last.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>auto</td>
        <td>Останній рядок тексту вирівнюється в залежності від
          значення властивості text-align.</td>
      </tr>
      <tr>
        <td>start</td>
        <td>Останній рядок тексту вирівнюється в залежності від
          напрямку тексту.</td>
      </tr>
      <tr>
        <td>end</td>
        <td>Останній рядок тексту вирівнюється в залежності від
          рядка, який є останнім в контексті написання мови</td>
      </tr>

      <tr>
        <td>left</td>
        <td>Останній рядок тексту завжди вирівнюється ліворуч в
          межах області вирівнювання.</td>
      </tr>
      <tr>
        <td>right</td>
        <td>Останній рядок тексту завжди вирівнюється праворуч
          в межах області вирівнювання.</td>
      </tr>
      <tr>
        <td>center</td>
        <td>Останній рядок тексту завжди вирівнюється по центру
          в межах області вирівнювання.
        </td>
      </tr>
      <tr>
        <td>justify</td>
        <td>Останній рядок тексту завжди вирівнюється по ширині
          в межах області вирівнювання</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Розтягнення шрифту
    </h4>
    <p>
      font-stretch — це CSS властивість, яка визначає ступінь
      розтягнення шрифту та дозволяє змінювати ширину шрифтів
    </p>
    <p>
      Ця властивість працює лише з спеціальними шрифтами,
      які мають підтримку цієї властивості
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            font-stretch: expanded<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-stretch</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-stretch.html">Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Текстове</th>
        <th>Числове</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>ultra-condensed </td>
        <td>50%</td>
        <td>Дуже вузькі букви</td>
      </tr>
      <tr>
        <td>extra-condensed</td>
        <td>62.5%</td>
        <td>Сильне зменшення ширини букв</td>
      </tr>
      <tr>
        <td>condensed</td>
        <td>75%</td>
        <td>Помірне зменшення ширини букв</td>
      </tr>
      <tr>
        <td>semi-condensed</td>
        <td>87.5%</td>
        <td>Незначне зменшення ширини букв</td>
      </tr>
      <tr>
        <td>normal</td>
        <td>100%</td>
        <td>Стандартна ширина за замовчуванням.</td>
      </tr>

      <tr>
        <td>semi-expanded</td>
        <td>112.5%</td>
        <td>Незначне збільшення ширини букв</td>
      </tr>
      <tr>
        <td>expanded</td>
        <td>125%</td>
        <td>Помірне збільшення ширини букв</td>
      </tr>
      <tr>
        <td>extra-expanded</td>
        <td>150%</td>
        <td>Сильне збільшення ширини букв</td>
      </tr>
      <tr>
        <td>ultra-expanded</td>
        <td>200%</td>
        <td>Дуже широкі букви</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Оптичний розмір шрифту

    </h4>
    <p>
      font-optical-sizing — це CSS властивість, яка визначає чи
      повинні бути увімкнені оптичні корекції розміру шрифту. Ця
      властивість відповідає за зміну розміру шрифту таким
      чином, щоб він виглядав більш природним на екрані.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            p {<br>
            font-optical-sizing: auto;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-optical-sizing</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-optical-sizing.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>auto</td>
        <td>Задає автоматичний оптичний розмір шрифту,
          відповідно до типографських правил</td>
      </tr>

      <tr>
        <td>none</td>
        <td>Вимикає оптичний розмір шрифту, використовується
          типографський розмір шрифту без будь-яких змін</td>
      </tr>

    </table>

    <h5>Навіщо оптичний розмір шрифту?</h5>

    <p>
      CSS властивість font-optical-sizing використовується для налаштування
      відображення шрифту залежно від його розміру та піксельної щільності
      екрана.
    </p>
    <p>
      Піксельна щільність екрана може впливати на сприйняття розміру
      символів. Наприклад, на екрані з високою піксельною щільністю, символи
      можуть виглядати меншими, ніж на екрані з меншою щільністю, навіть
      якщо їх розмір в пікселях однаковий.
    </p>
    <p>
      За допомогою властивості font-optical-sizing можна налаштувати шрифт
      таким чином, щоб його розмір сприймався як однаковий на різних екранах
      з різною піксельною щільністю.
    </p>


  </div>
</details>

<details>
  <summary>
    <h4>
      Кернінг шрифту
    </h4>
    <p>
      font-kerning — це CSS властивість, яка використовується
      для встановлення відстані між літерами (кернінгу) в тексті
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            p {<br>
            font-kerning: normal;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-kerning</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-kerning.html">Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>auto</td>
        <td>Браузер використовує налаштування шрифту для кернінгу</td>
      </tr>

      <tr>
        <td>normal</td>
        <td>Запобігає зміні кернінгу шрифту</td>
      </tr>
      <tr>
        <td>none</td>
        <td>Браузер вимикає кернінг шрифту</td>
      </tr>

    </table>

    <h5>letter-spacing чи font-kerning?</h5>

    <p>Новачки в типографії часто плутають letter-spacing і kerning.</p>

    <p>Letter-spacing - це процес одночасного налаштування загального простору
      між групами літер. </p>

    <p>Це метод, який впливає на горизонтальний проміжок між літерами. </p>

    <p>Kerning - це процес налаштування простору між конкретними пари літер
      для покращення читабельності слів з непослідовним інтервалом, що робить
      текст незручним і непрофесійним.</p>

  </div>
</details>

<details>
  <summary>
    <h4>
      Нумеричні варіанти шрифту
    </h4>
    <p>
      font-variant-numeric — це CSS властивість, яка
      використовується для визначення числових варіантів
      шрифту, таких як числа, дроби, відсотки
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            p {<br>
            font-variant-numeric: oldstyle-nums;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-variant-numeric</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-variant-numeric.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Функції перетворення не використовуються. Значення за
          замовчуванням.</td>
      </tr>
      <tr>
        <td>lining-nums</td>
        <td>Застосовує вигляд цифр верхнього регістру.</td>
      </tr>
      <tr>
        <td>oldstyle-nums</td>
        <td>Відображає деякі знаки (3, 4, 7, 9) таким чином, щоб вони
          йшли нижнім краєм під базову лінію тексту</td>
      </tr>
      <tr>
        <td>proportional-nums</td>
        <td>Включає відображення пропорційних чисел</td>
      </tr>
      <tr>
        <td>slashed-zerо</td>
        <td>Включає відображення нулів перекресленими косою лінією</td>
      </tr>

      <tr>
        <td>tabular-nums</td>
        <td>Включає відображення табличних чисел – однакової
          ширини, які легко вирівнюються, як у таблицях</td>
      </tr>
      <tr>
        <td>diagonal-fractions</td>
        <td>Включає символи дробів, у яких чисельник та знаменник
          зменшені та розділені косою межею</td>
      </tr>
      <tr>
        <td>stacked-fractions</td>
        <td>Включає символи дробів, де чисельник і знаменник
          зменшені, поставлені один над одним і розділені
          горизонтальною межею</td>
      </tr>
      <tr>
        <td>ordinal</td>
        <td>Включає відображення літерних форм, що
          використовуються з порядковими номерами - спеціальні
          регістри для порядкових числівників, наприклад, 1st, 2nd,
          3rd, 4th в англійській</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Положення варіанту шрифту
    </h4>
    <p>
      font-variant-position — це CSS властивість, яка
      використовується для визначення позиції варіантних
      регістрів у відношенні до базових літер в тексті
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            font-variant-position: sub;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-variant-position</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Означає відсутність увімкнених функцій. Значення за
          замовчуванням.</td>
      </tr>
      <tr>
        <td>sub</td>
        <td>Включає відображення опцій нижнього індексу (функція
          OpenType: subs).</td>
      </tr>
      <tr>
        <td>super</td>
        <td>Включає відображення надрядкових варіантів (функція
          OpenType: sups).</td>
      </tr>


    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Стиль верхнього регістру
    </h4>
    <p>
      <b>font-variant-caps</b> — це CSS властивість, яка використовується
      для визначення стилю верхнього регістру в тексті
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            font-variant-caps: small-caps;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-variant-caps</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-variant-caps.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Застосовує стандартний варіант верхнього регістру.
          Значення за замовчуванням.
        </td>
      </tr>
      <tr>
        <td>small-caps</td>
        <td>Застосовує верхній регістр у вигляді малих літер, де деякі
          літери можуть бути більші за розмір базового шрифту, а
          інші залишаються стандартного розміру.</td>
      </tr>
      <tr>
        <td>all-small-caps</td>
        <td>Застосовує верхній регістр у вигляді малих літер, де всі
          літери мають однаковий розмір, більший за розмір базового
          шрифту.</td>
      </tr>
      <tr>
        <td>petite-caps</td>
        <td>Застосовує верхній регістр у вигляді малих літер з меншим
          розміром, ніж стандартний розмір малих літер.</td>
      </tr>

      <tr>
        <td>all-petitecaps</td>
        <td>Застосовує верхній регістр у вигляді малих літер з ще
          меншим розміром, ніж розмір малих літер при значенні
          petite-caps.</td>
      </tr>
      <tr>
        <td>unicase</td>
        <td>Застосовує верхній регістр з комбінацією великих і малих
          літер, деякі літери виглядають як великі літери, а інші як
          малі літери.
        </td>
      </tr>
      <tr>
        <td>titling-caps</td>
        <td>Застосовує верхній регістр у вигляді великих літер, де
          кожна літера має збільшений розмір порівняно з розміром
          базового шрифту.</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Палітра шрифтів
    </h4>
    <p>
      font-palette — це CSS властивість, яка вказує одну з багатьох
      палітр, що містяться у шрифті, яку агент користувача має
      використовувати для шрифту
    </p>
    <p>
      Потрібно для СЕО-оптимізації
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            font-palette: normal;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-palette</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Визначає палітру кольорів за замовчуванням, які будуть
          використовуватися для шрифту. З цим параметром
          відтворюється палітра шрифту з індексом 0.</td>
      </tr>

      <tr>
        <td>light</td>
        <td>Визначає першу палітру у шрифті, яка відповідає
          «світлому», який буде використано для шрифту.</td>
      </tr>
      <tr>
        <td>dark</td>
        <td>Визначає першу палітру у шрифті, яка відповідає «темному»
          для використання шрифту.</td>
      </tr>
      <tr>
        <td>&lt;palette-identifier&gt;</td>
        <td>Дозволяє вказувати власні значення для палітри шрифтів</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Синтез шрифту
    </h4>
    <p>
      font-synthesis — це CSS властивість, яка використовується
      для налаштування синтезу шрифтів на веб-сторінках.
    </p>
    <p>
      Вона дозволяє встановити, як браузер має взаємодіяти з
      шрифтами, коли на комп'ютері користувача відсутні деякі
      гарнітури шрифтів, вказані в CSS.
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            p {<br>
            font-synthesis: weight style;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-synthesis</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-synthesis.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>none</td>
        <td>Забороняє синтез шрифтів. Браузер не буде
          використовувати альтернативні гарнітури шрифтів, якщо
          вказані гарнітури відсутні.</td>
      </tr>
      <tr>
        <td>weight</td>
        <td>Дозволяє синтезувати шрифт з іншої гарнітури тільки за
          вагою. Наприклад, заміна легкого шрифту на напівжирний</td>
      </tr>
      <tr>
        <td>style</td>
        <td>Дозволяє синтезувати шрифт з іншої гарнітури тільки за
          стилем

          Наприклад, заміна курсивного шрифту на звичайний</td>
      </tr>
      <tr>
        <td>small-caps</td>
        <td>Дозволяє синтезувати шрифт з використанням "малих капс"
          (капс у розмір малих літер)</td>
      </tr>
      <tr>
        <td>all</td>
        <td>Дозволяє синтезувати шрифт з іншої гарнітури за вагою,
          стилем та "малими капс".</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Альтернативні форми шрифту
    </h4>
    <p>
      font-variant-alternates — це CSS властивість, яка
      використовується для вибору альтернативних форм літер у
      шрифтах, які мають такі варіанти вигляду
    </p>
    <p>
      Потрібно для СЕО-оптимізації
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            p {<br>
            font-variant-alternates: historical-forms;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-variant-alternates</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-synthesis.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>auto</td>
        <td>Використовується звичайний вигляд літер без
          альтернативних форм.</td>
      </tr>
      <tr>
        <td>historical-forms</td>
        <td>Використовується історична форма літер, яка може
          відмінюватися від стандартної форми.</td>
      </tr>
      <tr>
        <td>stylistic(&lt;feature-value&gt;)</td>
        <td>Використовується альтернативні стилістичні форми літер
          визначені за значенням <feature-value>

            Наприклад, font-variant-alternates: stylistic(swash)
            використовує літери з витягнутими відтинками (swash).</td>
      </tr>
      <tr>
        <td>styleset(&lt;feature-value&gt;)</td>
        <td>Використовується альтернативний набір стилів літер
          визначений за значенням <feature-value>.

            Наприклад, font-variant-alternates: styleset(2) використовує
            другий набір стилів літер.</td>
      </tr>
      <tr>
        <td>character-variant(&lt;feature-value&gt;)</td>
        <td>Використовується альтернативні варіанти літери, визначені
          за значенням &lt;feature-value&gt;.

          Наприклад, font-variant-alternates: character-variant(2)
          використовує другий варіант літери</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Налаштування функцій шрифту
    </h4>
    <p>
      font-feature-settings — це CSS властивість, яка
      використовується для управління функціями шрифту,
      наприклад, виключення альтернативних форм літер
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-5">
          <div class="alert  a-primary alert-info" style="color: red">
            .my-text {<br>
            font-feature-settings: "liga" 1, "dlig" 1;<br>
            }<br>
          </div>
        </div>

        <div class=" col-7">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-feature-settings</h5>
            </div>
            <div class="alert alert-info">
              font-feature-settings: 1 &lt;value_a&gt; 1, &lt;value_b&gt; 1
            </div>
          </div>
        </div>

      </div>



    </div>

    <p>Властивість приймає через кому список значень, де це назва
      певної функція шрифту, а число вказує, що потрібно активувати функцію</p>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>liga</td>
        <td>Включає лігатури в шрифті. Цифра 1 є необов’язковою та
          вказує на ступінь заміни лігатури, а більші цифри вказують
          на більш складні лігатури.</td>
      </tr>
      <tr>
        <td>dlig</td>
        <td>Включає дискреційні лігатури в шрифті.</td>
      </tr>
      <tr>
        <td>calt</td>
        <td>Включає контекстні альтернативи, які надають
          альтернативні гліфи на основі їх контексту</td>
      </tr>
      <tr>
        <td>onum</td>
        <td>Включає відображення цифр в стилі old-style</td>
      </tr>
      <tr>
        <td>pnum</td>
        <td>Включає відображення цифр в стилі проходження</td>
      </tr>
      <tr>
        <td>tnum</td>
        <td>Включає табличні (або моноширинні) числа у шрифті</td>
      </tr>
      <tr>
        <td>lnum</td>
        <td>Включає рядкові (або великі) числа у шрифті</td>
      </tr>

      <tr>
        <td>frac</td>
        <td>Дозволяє використання дробів у шрифті.</td>
      </tr>
      <tr>
        <td>swsh</td>
        <td>Включає накреслення, які є декоративними елементами на
          певних літерах шрифту</td>
      </tr>
      <tr>
        <td>ss01, ss02, ...</td>
        <td>Включає заміщення деяких символів альтернативним
          варіантом, який може бути доступний для конкретного
          шрифту</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Лігатури шрифту
    </h4>
    <p>
      font-variant-ligatures — це CSS властивість, яка
      використовується для встановлення наявності або
      відсутності лігатур (сполучень літер) в тексті
    </p>
    <p>
      Потрібно для СЕО-оптимізації
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            p {<br>
            font-variant-ligatures: normal;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>font-variant-ligatures</h5>
            </div>
            <div class="alert alert-info">
              <a href="https://interactive-examples.mdn.mozilla.net/pages/css/font-variant-ligatures.html">
                Перейти на онлайн демо
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Використовує типографські налаштування шрифту щодо
          відображення лігатур. Це значення за замовчуванням</td>
      </tr>
      <tr>
        <td>none</td>
        <td>Вимикає відображення лігатур</td>
      </tr>
      <tr>
        <td>common-ligatures</td>
        <td>Використовує типові лігатури, такі як "fi", "fl", "ff" (функція
          OpenType: hlig)
        </td>
      </tr>
      <tr>
        <td>no-common-ligatures</td>
        <td>Вимикає використання типових лігатур (функція OpenType:
          hlig)</td>
      </tr>
      <tr>
        <td>discretionary-ligatures</td>
        <td>Використовує дискреційні лігатури (функція OpenType: dlig)</td>
      </tr>
      <tr>
        <td>no-discretionary-ligatures</td>
        <td>Вимикає відображення дискреційних лігатур (функція
          OpenType: dlig).</td>
      </tr>

      <tr>
        <td>historical-ligatures</td>
        <td>Включає відображення історичних лігатур (функція
          OpenType: hlig).</td>
      </tr>
      <tr>
        <td>no-historical-ligatures</td>
        <td>Вимикає відображення історичних лігатур (функція
          OpenType: hlig).</td>
      </tr>
      <tr>
        <td>contextual</td>
        <td>Використовує контекстні лігатури в тексті, які залежать від
          контексту використання символів (функція OpenType: calt).</td>
      </tr>
      <tr>
        <td>no-contextual</td>
        <td>Вимикає відображення контекстних альтернатив (функція
          OpenType: calt).</td>
      </tr>
      <tr>
        <td>initial</td>
        <td>Встановлює значення властивості значення за
          замовчуванням.</td>
      </tr>
      <tr>
        <td>inherit</td>
        <td>Наслідує значення властивості батьківського елемента.</td>
      </tr>

    </table>


  </div>
</details>

{{!-- <details>
  <summary>
    <h4>
      Рендеринг тексту
    </h4>
    <p>
      text-rendering — використовується для встановлення того,
      як браузер повинен візуалізувати текст на сторінці.
    </p>
    <p>
      Потрібно для СЕО-оптимізації
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-7">
          <div class="alert  a-primary alert-info" style="color: red">
            h1 {<br>
            text-rendering: optimizeSpeed;<br>
            }<br>
          </div>
        </div>

        <div class=" col-5">
          <div class="a-secondary">
            <div class="alert alert-info">
              <h5>text-rendering</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>auto</td>
        <td>Браузер визначає, який метод рендерингу (малюванні)
          тексту використовувати.
          Це значення за замовчуванням.</td>
      </tr>

      <tr>
        <td>optimizeSpeed</td>
        <td>Швидший метод рендерингу, але текст може
          відображатись менш якісно. Він вимикає кернінг і
          лігатури.</td>
      </tr>
      <tr>
        <td>optimizeLegibility</td>
        <td>Краща якість рендерингу тексту, але може бути
          повільнішим.</td>
      </tr>
      <tr>
        <td>geometricPrecision</td>
        <td>Рендеринг тексту точніший, але менш оптимальний
          для відображення на великих екранах.</td>
      </tr>

    </table>


  </div>
</details> --}}