Селектори - частина 3

Селектор атрибутів — це тип селекторів, який дозволяє
вибирати елементи на основі їх атрибутів так їх значень
Селектор атрибута додається через квадратні дужки ("[]"),
всередині яких вказується селектор атрибута

a href {
color: red;
}

_______________________________

Селектор назви атрибута — це селектор, який вибирає тег,
якщо він має вказаний атрибут

a[href] {
color: blue;
}

[atr] atr це атрибут

_______________________________

Селектор значення атрибута — це селектор, який вибирає тег,
якщо він має вказаний атрибут з вказаним значенням

input[type="number"] {
color: blue;
}

[atr="value"] atr — це атрибут

value — це значення

_______________________________

Селектор наявності значення атрибута — це селектор, який
вибирає тег, якщо він має вказаний атрибут, в якому можуть
перебувати декілька значень, одне з яких є вказаним значенням

img[title~="flower"] {

background: blue;

}

[atr~="value"]

atr — це атрибут

value — це значення

<img src="klematis.jpg" title="klematis small f l o w e r ">

_______________________________

Селектор префіксу значення атрибута — це селектор, який
вибирає тег, якщо він має вказаний атрибут, значення якого
єдине та починається з вказаного value або з value-

div[class|="btn"] {

background: blue;

}

[atr|="value"] atr — це атрибут

value — це значення

<div class="btn"></div>
<div class="btn-primary "></div>
<div class="my-button"></div>
<div class="btn btn-primary"></div>

_______________________________

Селектор початку значення атрибута — це селектор,
який вибирає тег, якщо він має вказаний атрибут,
значення якого починається з вказаного value

div[class^="btn"] {

background: blue;

}

[atr^="value"]
atr — це атрибут

value — це значення

<div class="btn"></div>
<div class="btn-info"></div>
btn
btn-info
<div class="card btn"></div>
<div class="b-btn"></div>

_______________________________

Селектор кореня значення атрибута — це селектор,
який вибирає тег, якщо він має вказаний атрибут,
значення якого має корінь з вказаного value
div[class*="btn"] {

background: blue;

}

[atr*="value"]
atr — це атрибут

value — це значення

<div class="btn "></div>
<div class="btn-info "></div>

<div class="card-btn "></div>
<div class="b-btn-b"></div>

_______________________________

Селектор кінцівки значення атрибута — це селектор,
який вибирає тег, якщо він має вказаний атрибут,
значення якого закінчується з вказаного value

div[class$="btn"] {

background: blue;

}

[atr$="value"]
atr — це атрибут

value — це значення

<div class="btn "></div>
<div class="btn-info "></div>

<div class="card-btn"></div>
<div class="b-btn-b"></div>

_______________________________

Селектор псевдоелементів — це тип селекторів,
який дозволяє стилізувати певні частини елементів
Псевдо селектор додається через двійну двокрапку ("::")

span first-letter {
color: red;
}

_______________________________

Селектор псевдоелемента першої літери — це селектор,
який задає стилізації для першої літери елемента

p::first-letter {

background: blue;

}

::first-letter

_______________________________

Селектор псевдоелемента першого рядка — це селектор,
який задає стилізації для першого рядка тексту елемента

p::first-line {

background: blue;

}

::first-line

_______________________________

Селектор псевдоелемента плейсхолдера — це селектор,
який задає стилізації для тексту атрибута placeholder тегу input

input::placeholder {

background: blue;

}

::placeholder

_______________________________

Селектор псевдоелемента “попереду” — це селектор,
який надає можливість вказати контент, який буде йти попереду
основного контенту елемента, та надати йому стилізацію
Для цього селектора доступна CSS властивість content,
в яку ми вказуємо текст для контенту псевдоелемента

input::before {

content: "text";

}

::before

_______________________________

Селектор псевдоелемента “після” — це селектор,
який надає можливість вказати контент, який буде йти після
основного контенту елемента, та надати йому стилізацію
Для цього селектора доступна CSS властивість content,
в яку ми вказуємо текст для контенту псевдоелемента

input::after {

content: "text";

}

::after

_______________________________