<div>
    <div>
        <h4>Селектори - частина 1-2</h4>


        <code>
        :root { <br>
        background: red;<br>
        }<br>
        </code>
        <p>Root селектор — це селектор, який вибирає абстрактний
            кореневий тег, в якому знаходиться вже інший HTML код</p>
    </div>

    <div class="p-3">
        <hr>
    </div>

    * {
    color: brown;
    }

    Глобальний селектор — це селектор, який вибирає всі теги
    на сторінці. Він може бути використаний для стилізації всього вмісту
    сторінки або для задання однакових стилів для всіх
    елементів на сторінці.
    Використання універсального селектора може навантажувати
    сторінку, адже він надає стилі для всіх тегів одночасно

    <div class="p-3">
        <hr>
    </div>

    h1 {
    background: red;
    }

    Селектор тегу — це селектор, який надає стилі для певного тегу,
    який використовується у будь-якому місці HTML документа
    Якщо вказаний тег в HTML документі дублюється, то стилі
    будуть надані для всіх тегів, які відповідають селектору

    <div class="p-3">
        <hr>
    </div>

    .<class_name> {
        background: red;
        }
        .box {
        background: red;
        }

        Селектор класу — це селектор, який надає стилі для всіх тегів,
        які мають певний клас, який був вказаний у селекторі
        Селектор класу починається з крапки (".") і за ним слідує ім'я


        В HTML для встановлення класу потрібно вказати атрибут class

        <div class="p-3">
            <hr>
        </div>

        #<id_name> {
            background: red;
            }
            #user {
            background: red;
            }

            Селектор ідентифікатора — це селектор, який надає стилі для
            всіх тегів, які мають певний ідентифікатор, який був вказаний у
            селекторі
            Селектор класу починається з решітки ("#") і за ним слідує ім'я
            В HTML для встановлення ідентифікатора потрібно вказати
            атрибут id

            <div class="p-3">
                <hr>
            </div>

            h1, .box,
            #user {
            background: red;
            }

            У CSS є можливість використовувати декілька селекторів, до
            яких треба надати певний набір CSS властивостей
            Для цього слід вказати селектори через кому (“,”)

            <div class="p-3">
                <hr>
            </div>

            parent > children {
            color: red;
            }
            section > h1 {
            color: red;
            }

            Дочірній селектор — це селектор, який надає стилі для всіх
            тегів, які є дочірніми тегами головного тегу
            Для цього слід вказати знак більше (“>”), щоб показати
            відношення між батьківським та дочірнім тегом

            <div class="p-3">
                <hr>
            </div>

            section .box span {
            color: red;
            }
            section>>.box>>span {
            color: red;
            }

            Селектор нащадка — це селектор, який надає стилі для всіх
            тегів, які є нащадками головного тегу
            Для цього вкажіть у селекторі через пробіл розташування тегу,
            або ви можете вказати два рази знак більше (“>>”)

            <div class="p-3">
                <hr>
            </div>

            h1 + p {
            color: red;
            }

            Сестринський селектор — це селектор, який надає стилі
            для сестринського тегу, який йде одразу після основного тегу
            Для цього слід вказати плюс (“+”), щоб показати
            відношення між основним тегом та сестринським тегом

            <div class="p-3">
                <hr>
            </div>

            h1 ~ p {
            color: red;
            }

            Сусідський селектор — це селектор, який надає стилі
            для всіх сусідніх тегів, які йдуть після основного тегу
            Для цього слід вказати тильду (“~”), щоб показати
            відношення між основним тегом та сусідніми тегами

            <div class="p-3">
                <hr>
            </div>

            <ul>
                <li> I t e m 1 </li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>

            li:first-child {
            color: blue;
            }


            Селектор першої дитини — це селектор, який вибирає перший
            тег, якщо він є першою дитиною всередині батьківського тегу

            :first-child

            <div class="p-3">
                <hr>
            </div>

            Селектор псевдоклас — це ключове слово, додане до
            звичайного селектора, яке визначає його особливий стан
            Селектор псевдокласу додається через двокрапку (":")

            <div class="p-3">
                <hr>
            </div>

            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li> I t e m 3 </li>
            </ul>

            li:last-child {
            color: blue;
            }

            Селектор останньої дитини — це селектор, який вибирає останній
            тег, якщо він є останньою дитиною всередині батьківського тегу

            :last-child

            <div class="p-3">
                <hr>
            </div>

            <ul>
                <li>Item 1</li>
            </ul>

            li:only-child {
            color: blue;
            }


            Селектор одиничної дитини — це селектор, який вибирає тег,
            якщо він є єдиною дитиною всередині батьківського тегу, і після
            нього більше не існує інших дитячих тегів

            :only-child


            <div class="p-3">
                <hr>
            </div>

            <div>
                <b>First</b>
                <p> F i r s t </p>
                <p>Second</p>
                <b>Second</b>
            </div>

            p:first-of-type {

            color: blue;

            }

            Селектор першого типу — це селектор, який вибирає перший
            елемент по заданому тегу серед своїх сусідських тегів

            :first-of-type

            <div class="p-3">
                <hr>
            </div>


            <div>
                <b>First</b>
                <p>First</p>
                <p> S e c o n d </p>
                <b>Second</b>
            </div>

            p:last-of-type {

            color: blue;

            }

            Селектор останнього типу — це селектор, який вибирає останній
            елемент по заданому тегу серед своїх сусідських тегів

            :last-of-type

            <div class="p-3">
                <hr>
            </div>

            <div>
                <b>First</b>
                <p> F i r s t </p>
                <b>Second</b>
            </div>


            p:only-of-type {

            color: blue;

            }

            Селектор одиничного типу — це селектор, який вибирає елемент по заданому тегу, якщо він є єдиним таким тегом
            серед сусідів

            :only-of-type

            <div class="p-3">
                <hr>
            </div>

            <div>
                <p>1</p>
                <p> 2 </p>
                <p>3</p>
            </div>

            p:nth-child(2) {

            color: blue;

            }

            Селектор порядкової дитини — це селектор, який обирає
            елементи на основі їхньої позиції в батьківському елементі
            Для цього треба вказати індекс (n) серед його братів і сестер.

            :nth-child(n)



            Що можна вписувати в index (n)
            - числа (1, 2, 3) — обирають елементи,
            які є першим, другим, третім тощо
            - even — обирає парні елементи
            - odd — обирає непарні елементи
            - формули (3n+1) — обирає елементи по формулі,
            в якій n — змінна з порядковим номером елемента

            <div class="p-3">
                <hr>
            </div>

            Селектор зворотної порядкової дитини — це селектор, який
            обирає елементи на основі їхньої позиції в батьківському
            елементі, але підрахунок веде з кінця
            Для цього треба вказати індекс (n) серед його братів і сестер.

            <div>
                <p>1</p>
                <p> 2 </p>
                <p>3</p>
                <p>4</p>
            </div>

            p:nth-last-child(n) 3 {

            color: blue;

            }

            :nth-last-child(n)

            <div class="p-3">
                <hr>
            </div>

            Селектор порядкового типу — це селектор, який обирає
            елементи на основі їхньої позиції в батьківському елементі та
            типу тегу по аналогії як інші селектори типу
            Для цього треба вказати індекс (n) серед його братів і сестер,
            які мають спільний тип тегу

            <div>
                <p>1</p>
                <b>2</b>
                <p> 3 </p>
                <p>4</p>
            </div>

            p:nth-of-type(2) {

            color: blue;

            }

            :nth-of-type( )

            <div class="p-3">
                <hr>
            </div>

            Селектор зворотного порядкового типу — це селектор, який
            обирає елементи на основі їхньої позиції в батьківському
            елементі та типу тегу, але підрахунок веде з кінця
            Для цього треба вказати індекс (n) серед його братів і сестер,
            які мають спільний тип тегу

            <div>
                <p> 1 </p>
                <b>2</b>
                <p>3</p>
                <b>4</b>
            </div>



            p:nth-last-of-type(2) {

            color: blue;

            }

            :nth-last-of-type( )

            <div class="p-3">
                <hr>
            </div>

            Селектор невідповідності — це селектор, який обирає
            елементи, які не відповідають вказаним селекторам
            Для цього треба вказати в (s) ті селектори,
            які не повинні відповідати до елемента

            <div>
                <p> 1 </p>
                <p class="big">2</p>
            </div>


            p:not(s) .big {

            color: blue;

            }


            :not(s)

            <div class="p-3">
                <hr>
            </div>

            Селектор пустого контенту — це селектор, який обирає
            елементи, які не мають всередині контенту чи тегів

            <div>
                <p> </p>
                <p>Text</p>
            </div>


            p:empty {

            color: blue;

            }

            :empty

            <div class="p-3">
                <hr>
            </div>
</div>