<h3>Робота з
  рамками та тінями</h3>
<details>
  <summary>
    <h4>
      Внутрішня рамка
    </h4>
    <p>
      border — це CSS властивість, яка використовується
      для встановлення стилів внутрішньої рамки елемента
    </p>
  </summary>


  <div class="alerts-container">

    <div class="col-6">
      <div class="a-primary" style="color: red; padding-bottom: 0;">
        <div class="border-alert">
          .example {<br>
          border: 1px solid #000000;<br>
          }
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <div>border</div>
        </div>
      </div>
    </div>

  </div>



  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>W S C</td>
      <td>W - ширина, S - стиль, C - колір</td>
    </tr>
    <tr>
      <td>W (width)</td>
      <td>border-width</td>
    </tr>
    <tr>
      <td>S (style)</td>
      <td>border-style</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>border-color</td>
    </tr>


  </table>

  <h5>border-width</h5>
  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>довжина</td>
      <td>Встановлює товщину рамки у конкретній одиниці
        вимірювання</td>
    </tr>

    <tr>
      <td>thin<br>
        medium<br>
        thick<br>
      </td>
      <td>Встановлюють вбудовані значення товщини рамки</td>
    </tr>

  </table>

  <h5>border-style</h5>
  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>solid</td>
      <td>Оформлює рамку суцільною лінією</td>
    </tr>
    <tr>
      <td>dotted</td>
      <td>Оформлює рамку точковою лінією</td>
    </tr>
    <tr>
      <td>dashed</td>
      <td>Оформлює рамку пунктирною лінією</td>
    </tr>
    <tr>
      <td>double</td>
      <td>Оформлює рамку подвійною лінією</td>
    </tr>
    <tr>
      <td>none</td>
      <td>Встановлює відсутність стилю рамку</td>
    </tr>
    <tr>
      <td>groove</td>
      <td>Оформлює рамку об'ємною втисненою рамкою</td>
    </tr>
    <tr>
      <td>ridge</td>
      <td>Оформлює рамку об'ємною опуклою рамкою</td>
    </tr>


  </table>

</details>

<details>
  <summary>
    <h4>
      Внутрішня рамка
      верхньої сторони
    </h4>
    <p>
      border-top — це CSS властивість, яка використовується
      для встановлення стилів внутрішньої верхньої рамки
      елемента
    </p>
    <p>
    </p>
  </summary>

  <div class="alerts-container">

    <div class="col-6">
      <div class="a-primary" style="color: red">
        <div class="border-alert">
          .example {<br>
          border-top: 2px dotted red;<br>
          }
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <h5>border-top</h5>
        </div>
      </div>
    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>W S C</td>
      <td>W - ширина, S - стиль, C - колір</td>
    </tr>
    <tr>
      <td>W (width)</td>
      <td>border-top-width</td>
    </tr>
    <tr>
      <td>S (style)</td>
      <td>border-top-style</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>border-top-color</td>
    </tr>


  </table>






</details>

<details>
  <summary>
    <h4>
      Внутрішня рамка
      правої сторони
    </h4>
    <p>
      border-right — це CSS властивість, яка використовується
      для встановлення стилів внутрішньої правої рамки елемента
    </p>

  </summary>

  <div class="alerts-container">

    <div class="col-6">
      <div class="a-primary" style="color: red">
        <div class="border-alert">
          .example {<br>
          border-right: 3px groove blue;<br>
          }
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <h5>border-top</h5>
        </div>
      </div>
    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>W S C</td>
      <td>W - ширина, S - стиль, C - колір</td>
    </tr>
    <tr>
      <td>W (width)</td>
      <td>border-right-width</td>
    </tr>
    <tr>
      <td>S (style)</td>
      <td>border-right-style</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>border-right-color</td>
    </tr>


  </table>

</details>

<details>
  <summary>
    <h4>
      Внутрішня рамка
      нижньої сторони
    </h4>
    <p>
      border-bottom — це CSS властивість, яка використовується
      для встановлення стилів внутрішньої нижньої рамки
      елемента
    </p>

  </summary>

  <div class="alerts-container">

    <div class="col-6">
      <div class="a-primary" style="color: red">
        <div class="border-alert">
          .example {<br>
          border-right: 3px groove blue;<br>
          }
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <h5>border-top</h5>
        </div>
      </div>
    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>W S C</td>
      <td>W - ширина, S - стиль, C - колір</td>
    </tr>
    <tr>
      <td>W (width)</td>
      <td>border-bottom-width</td>
    </tr>
    <tr>
      <td>S (style)</td>
      <td>border-bottom-style</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>border-bottom-color</td>
    </tr>


  </table>
</details>

<details>
  <summary>
    <h4>
      Внутрішня рамка
      лівої сторони
    </h4>
    <p>
      border-left — це CSS властивість, яка використовується
      для встановлення стилів внутрішньої лівої рамки елемента
    </p>
  </summary>
  <div class="row">
    <div class="alerts-container">
      <div class="col-6">
        <div class="a-primary" style="color: red">
          <div class="border-alert">
            .example {<br>
            border-left: 1px dashed blue;<br>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="a-secondary">
          <div class="border-alert">
            <h5>border-left</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>W S C</td>
      <td>W - ширина, S - стиль, C - колір</td>
    </tr>
    <tr>
      <td>W (width)</td>
      <td>border-left-width</td>
    </tr>
    <tr>
      <td>S (style)</td>
      <td>border-left-style</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>border-left-color</td>
    </tr>

  </table>

</details>

<details>
  <summary>
    <h4>
      Зовнішня рамка
    </h4>
    <p>
      outline — це CSS властивість, яка використовується для
      встановлення зовнішньої рамки елемента.
    </p>
  </summary>


  <div class="row">

    <div class="alerts-container">

      <div class="col-6">
        <div class="a-primary" style="color: red">
          <div class="border-alert">
            .example {<br>
            outline: 2px solid red;<br>
            }<br>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="a-secondary">
          <div class="border-alert">
            <h5>outline</h5>
          </div>
        </div>
      </div>

    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>W S C</td>
      <td>W - ширина, S - стиль, C - колір</td>
    </tr>
    <tr>
      <td>W (width)</td>
      <td>outline-width</td>
    </tr>
    <tr>
      <td>S (style)</td>
      <td>outline-style</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>outline-color</td>
    </tr>

  </table>

  <h5>outline-width</h5>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>довжина</td>
      <td>Встановлює товщину рамки в конкретній одиниці
        вимірювання</td>
    </tr>
    <tr>
      <td>thin <br>
        medium<br>
        thick
      </td>
      <td>Встановлюють вбудовані значення товщини рамки</td>
    </tr>

  </table>

  <h5>outline-style</h5>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>none</td>
      <td>Вказує, що зовнішня рамка відсутня</td>
    </tr>
    <tr>
      <td>dotted</td>
      <td>Оформлює зовнішню рамку точковою лінією</td>
    </tr>
    <tr>
      <td>dashed</td>
      <td>Оформлює зовнішню рамку пунктирною лінією</td>
    </tr>
    <tr>
      <td>solid</td>
      <td>Оформлює зовнішню рамку суцільною лінією</td>
    </tr>
    <tr>
      <td>double</td>
      <td>Оформлює зовнішню рамку подвійною лінією</td>
    </tr>
    <tr>
      <td>groove</td>
      <td>Оформлює зовнішню рамку об'ємною втисненою рамкою</td>
    </tr>
    <tr>
      <td>ridge</td>
      <td>Оформлює зовнішню рамку об'ємною опуклою рамкою</td>
    </tr>


  </table>

</details>

<details>
  <summary>
    <h4>
      Зсув зовнішньої рамки
    </h4>
    <p>
      outline-offset — це CSS властивість, яка встановлює
      відступ зовнішньої рамки від межі елемента
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              outline-offset: 5px;<br>
              }
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>outline-offset</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>довжина</td>
        <td>Задає ширину елемента в конкретній одиниці
          вимірювання</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Радіус закруглення рамки
    </h4>
    <p>
      border-radius — це CSS властивість, яка використовується
      для встановлення стилів закруглення рамки елемента
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              border-radius: 10% 30% 50% 70%;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>border-radius</h5>
            </div>
          </div>

        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>TL TR BR BL</td>
        <td>TL - зверху зліва, TR - зверху справа,
          BR - знизу справа, BL - знизу зліва</td>
      </tr>

      <tr>
        <td>TL (top left)</td>
        <td>border-top-left-radius</td>
      </tr>
      <tr>
        <td>TR (top right)</td>
        <td>border-top-right-radius</td>
      </tr>
      <tr>
        <td>BR (bottom right)</td>
        <td>border-bottom-right-radius</td>
      </tr>
      <tr>
        <td>BL (bottom left)</td>
        <td>border-bottom-left-radius</td>
      </tr>

    </table>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>SS SE ES EE</td>
        <td>SS - зверху зліва, SE - зверху справа,
          ES - знизу справа, EE - знизу зліва</td>
      </tr>

      <tr>
        <td>SS (start start)</td>
        <td>border-start-start-radius</td>
      </tr>
      <tr>
        <td>SE (start end)</td>
        <td>border-start-end-radius</td>
      </tr>
      <tr>
        <td>ES (end start)</td>
        <td>border-end-start-radius</td>
      </tr>
      <tr>
        <td>EE (end end)</td>
        <td>border-end-end-radius</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Тінь тексту
    </h4>
    <p>
      text-shadow — це CSS властивість, яка дозволяє
      додавати тінь до тексту.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              h1 {<br>
              text-shadow: 2px 2px 2px #d63384;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>text-shadow</h5>
            </div>


          </div>

        </div>
      </div>

    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>X, Y, B, C</td>
      <td>Формат опису значення властивості</td>
    </tr>

    <tr>
      <td>X (x-offset)</td>
      <td>Зсув тіні відносно тексту по горизонталі

        (значення в пікселях або відсотках)</td>
    </tr>
    <tr>
      <td>Y (y-offset)</td>
      <td>Зсув тіні відносно тексту по вертикалі
        (значення в пікселях або відсотках)</td>
    </tr>
    <tr>
      <td>B (blur)</td>
      <td>Радіус розмиття тіні (значення в пікселях)</td>
    </tr>
    <tr>
      <td>C (color)</td>
      <td>Колір тіні (значення у форматі hex, rgb, або іншому)</td>
    </tr>


  </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Тінь блоку
    </h4>
    <p>
      box-shadow — це CSS властивість,
      яка дозволяє додавати тінь до блоку.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              h1 {<br>
              box-shadow: 5px 5px 10px 0px #d63384;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>box-shadow</h5>
            </div>
          </div>



        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>X, Y, B, S, C</td>
        <td>Формат опису значення властивості</td>
      </tr>

      <tr>
        <td>X (x-offset)</td>
        <td>Зсув тіні відносно тексту по горизонталі
          (значення в пікселях або відсотках)</td>
      </tr>
      <tr>
        <td>Y (y-offset)</td>
        <td>Зсув тіні відносно тексту по вертикалі
          (значення в пікселях або відсотках)
        </td>
      </tr>
      <tr>
        <td>S (spread)</td>
        <td>Радіус поширення тіні (значення в пікселях)</td>
      </tr>
      <tr>
        <td>B (blur)</td>
        <td>Радіус розмиття тіні (значення в пікселях)</td>
      </tr>
      <tr>
        <td>C (color)</td>
        <td>Колір тіні (значення у форматі hex, rgb, або іншому).</td>
      </tr>
    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Висота рядка
    </h4>
    <p>
      line-height — це CSS властивість, яка вказує на висоту
      одного рядка тексту та допомогає вказати відступи
      між рядками тексту елемента
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              line-height: 1.5;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>line-height</h5>
            </div>

          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>normal</td>
        <td>Повідомляє користувачам агентам встановити
          "розумне" значення на основі шрифту елемента.
          Значення за замовчуванням.</td>
      </tr>

      <tr>
        <td>довжина</td>
        <td>Значення задається в одиницях довжини, створюючи
          фіксоване значення висоти рядка. Якщо встановити
          значення менше одиниці, суміжні рядки будуть
          заходити один на одного.</td>
      </tr>
      <tr>
        <td>Число</td>
        <td>За замовчуванням, властивість min-height має
          значення auto, а властивість max-height має значення
          none.
        </td>
      </tr>
      <tr>
        <td>%</td>
        <td>Обчислене значення властивості – це відсоток,
          помножений на обчислений розмір шрифту елемента.</td>
      </tr>
      <tr>
        <td>inherit</td>
        <td>Наслідує значення властивості батьківського елемента</td>
      </tr>

    </table>




  </div>
</details>

<details>
  <summary>

    <h4>
      Вертикальне вирівнювання
    </h4>
    <p>
      vertical-align — це властивість CSS, яка використовується
      для вертикального вирівнювання елементів відносно їх
      батьківського тегу.
    </p>
    <p>
      Вона застосовується до лінійних елементів
    </p>

  </summary>

  <div class="alerts-container">

    <div class="col-6">
      <div class="a-primary" style="color: red">
        <div class="border-alert">
          .example {<br>
          vertical-align: baseline;<br>
          }<br>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <h5>vertical-align</h5>
        </div>

      </div>
    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>baseline</td>
      <td>Вирівнює за базовою лінією тексту
        свого батьківського елемента</td>
    </tr>

    <tr>
      <td>sub</td>
      <td>Вирівнює в позицію під строки, тобто нижня частина
        елемента буде розташована нижче від базової лінії
        тексту</td>
    </tr>
    <tr>
      <td>super</td>
      <td>Вирівнює в позицію над строки, тобто верхня частина
        елемента буде розташована вище від базової лінії
        тексту
      </td>
    </tr>
    <tr>
      <td>top</td>
      <td>Вирівнює по верхньому краю свого батьківського
        елемента</td>
    </tr>
    <tr>
      <td>text-top</td>
      <td>Вирівнюється по верхньому краю текстової лінії свого
        батьківського елемента</td>
    </tr>

  </table>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>middle</td>
      <td>Вирівнює по середині висоти свого батьківського елемента</td>
    </tr>

    <tr>
      <td>bottom</td>
      <td>Вирівнює по нижньому краю свого батьківського
        елемента</td>
    </tr>
    <tr>
      <td>text-bottom</td>
      <td>Вирівнює по нижньому краю текстової лінії свого
        батьківського елемента
      </td>
    </tr>
    <tr>
      <td>%</td>
      <td>Вирівнює в відсотках відносно висоти батьківського
        тегу</td>
    </tr>
    <tr>
      <td>Довжина</td>
      <td>Вирівнює відносно висоти батьківського тегу за
        вказаною одиницею виміру</td>
    </tr>

  </table>

</details>

<details>
  <summary>
    <h4>
      Курсор
    </h4>
    <p>
      cursor — це CSS властивість, яка використовується для
      встановлення вигляду курсора миші при наведенні на
      елемент.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              cursor: pointer;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>cursor</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>default</td>
        <td>Курсор без задання (системний)</td>
      </tr>
      <tr>
        <td>context-menu</td>
        <td>Курсор вказує на те, що контекстне меню
          доступне.</td>
      </tr>
      <tr>
        <td>help</td>
        <td>Курсор вказує на те, що допомога доступна</td>
      </tr>
      <tr>
        <td>pointer</td>
        <td>Курсор є вказівником вказуючи на можливість
          взаємодії з елементом</td>
      </tr>
      <tr>
        <td>progress</td>
        <td>Курсор вказує на те, що програма зайнята (в
          процесі)</td>
      </tr>
      <tr>
        <td>wait</td>
        <td>Курсор вказує на те, що програма зайнята</td>
      </tr>

    </table>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>no-drop</td>
        <td>Курсор вказує на те, що елемент, який
          зміщується, не може бути зоставлений тут</td>
      </tr>
      <tr>
        <td>crosshair</td>
        <td>Курсор відображається як перехрестя</td>
      </tr>
      <tr>
        <td>cell</td>
        <td>Курсор вказує на те, що комірка (або набір
          комірок), можуть бути виділені. Набуває вигляду,
          що нагадує комірку таблиці</td>
      </tr>
      <tr>
        <td>text</td>
        <td>Курсор вказує текст, який може бути виділений.
          Набуває вигляду, що нагадує текстовий
          редактор</td>
      </tr>
      <tr>
        <td>vertical-text</td>
        <td>Курсор вказує вертикальний текст, який може
          бути виділений</td>
      </tr>
      <tr>
        <td>alias</td>
        <td>Курсор вказує, що ім’я чого-небудь повинно бути
          створено</td>
      </tr>

    </table>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>copy</td>
        <td>Курсор вказує те, що щось може бути
          скопійоване</td>
      </tr>
      <tr>
        <td>move</td>
        <td>Курсор вказує те, що щось може бути
          переміщено</td>
      </tr>
      <tr>
        <td>not-allowed</td>
        <td>Курсор вказує на те, що неможливо взаємодіяти
          з елементом</td>
      </tr>
      <tr>
        <td>all-scroll</td>
        <td>Курсор вказує на те, що щось можна
          прокручувати в будь-якому напрямку</td>
      </tr>
      <tr>
        <td>col-resize</td>
        <td>Курсор вказує на те, що стовпець може бути
          змінений по горизонталі</td>
      </tr>
      <tr>
        <td>row-resize</td>
        <td>Курсор вказує на те, що стовпець може бути
          змінений по вертикалі</td>
      </tr>

    </table>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>n-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вгору (на північ)</td>
      </tr>
      <tr>
        <td>ne-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вгору та вправо (на північний схід)</td>
      </tr>
      <tr>
        <td>ns-resize</td>
        <td>Курсор вказує на можливість змінювати розмір
          елемента у напрямку вздовж вертикалі (з північні
          на південь або навпаки)</td>
      </tr>
      <tr>
        <td>e-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вправо (на схід)</td>
      </tr>
      <tr>
        <td>ew-resize</td>
        <td>Курсор вказує на можливість змінювати розмір
          елемента у напрямку за горизонталлю (з сходу на
          захід або навпаки)</td>
      </tr>
      <tr>
        <td>se-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вниз та вправо (на південний схід)</td>
      </tr>

    </table>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>s-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вниз (на південь)</td>
      </tr>
      <tr>
        <td>sw-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вниз та вліво(на південний захід)</td>
      </tr>
      <tr>
        <td>w-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вліво (на захід)</td>
      </tr>
      <tr>
        <td>nw-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений верх та вліво (на північний захід)</td>
      </tr>
      <tr>
        <td>nesw-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений вгору та вправо, а також вниз та
          вліво (на північний схід та на південний захід)</td>
      </tr>
      <tr>
        <td>nwse-resize</td>
        <td>Курсор вказує, що край блоку може бути
          переміщений верх та вліво, а також вниз та
          вправо (на північний захід та на південний схід)</td>
      </tr>

    </table>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>zoom-in</td>
        <td>Курсор вказує на те, що щось може бути збільшено.
          IE не підтримує</td>
      </tr>
      <tr>
        <td>zoom-out</td>
        <td>Курсор вказує на те, що щось може бути зменшено.
          IE не підтримує</td>
      </tr>
      <tr>
        <td>grab</td>
        <td>Курсор вказує на те, що щось може бути захоплено. Chrome, Opera, Safari підтримують
          значення -webkit-grabbing. IE не підтримує</td>
      </tr>
      <tr>
        <td>grabbing</td>
        <td>Встановлює вигляд курсора, який нагадує
          закріплення руки, вказуючи на можливість
          переміщення елемента</td>
      </tr>
      <tr>
        <td>auto</td>
        <td>без задання. Браузер самостійно встановлює курсор</td>
      </tr>

    </table>


  </div>
</details>