<details>
    <summary>
        <h4>Колір</h4>
        <p>color — це CSS властивість, яка визначає колір тексту</p>
    </summary>
    <p>
        h1 {
        color: #ff0000;
        }

        color
        Колір
        Значення Опис
        #RGB / #RRGGBB
        #d63384
        HEX - Шістнадцяткова форма опису відтінку
        red, blue Текстова назва кольору, яка зашита в CSS
        rgb(R,G,B)
        rgb(255, 87, 51) Формат RGB
        rgba(R,G,B, A)
        rgb(255, 87, 51, 0.5)
        Формат RGBA, який додає
        A параметр — прозорість кольору
        hsl(H, S, L)
        hsl(11, 100%, 60%)
        Формат HSL, є альтернативою RGB
        H - відтінок, S - насиченість, L - яскравість
        hsla(H, S, L, A)
        hsla(11, 100%, 60%, 0.5)
        Формат HSLA,
        який додає 4 параметр прозорості кольору
        Колір
        HSL
        RGB
    </p>
</details>








<hr class="m-3">

<details>
    <summary>
        <h4>
            Вендорні префікси
        </h4>
        <p>
            Вендорні префікси (vendor prefixes) — це префікси
            до CSS властивостей, які забезпечують коректну
            роботу CSS властивостей в потрібних браузерах
        </p>
    </summary>
    <p>
        X
        Googl_ Chrom_, Appl_ SWfWri, Op_rV
        X
        MozillW Pir_foO
        X
        Int_rn_t Explor_r та Microsoft Edg^
        X
        Op_rW
        -w_bkit-
        -moz-
        -ms-
        -o-
    </p>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Колір заливки тексту
        </h4>
        <p>
            text-fill-color — це CSS властивість, яка визначає колір
            заповнення контенту (текст, svg іконка тощо)
        </p>
    </summary>
    <p>
        В більшості випадках text-fill-color
        використовується разом з text-stroke
        h1 {
        : #ff0000;
        }
        text-fill-color
        text-fill-color
        -webkit-text-fill-color
    </p>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Штрихи тексту
        </h4>
        <p>
            text-stroke — це CSS властивість, яка визначає
            колір та ширину штрихів для текстових символів
        </p>
    </summary>
    <p>
        h1 {
        : 2px red
        }
        text-stroke
        text-stroke
        -webkit-text-stroke
        Значення Опис
        <length> Ширина штриха
            <color> Колір обведення
    </p>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Напрямок тексту
        </h4>
        <p>
            direction — це CSS властивість, яка вказує напрямок текст
        </p>
    </summary>
    <p>
        у
        h1 {
        : rtl
        }
        direction
        direction
        Значення Опис
        ltr Текст відображається зліва направо (за замовчуванням)
        rtl Текст відображається справа наліво
    </p>
</details>




<hr class="m-3">

<details>
    <summary>
        <h4>
            Глобальні значення
            властивостей
        </h4>
        <p>
            Глобальні значення властивостей — це значення,
            які існують майже в усіх CSS властивостях
        </p>
    </summary>
    <p>
        Значення Опис
        initial Значення властивості встановлюється за замовчуванням
        inherit Значення властивості успадковується від батьківського тегу
        unset
        Значення властивості успадковується від батьківського тегу
        в тому випадку, якщо це можливо, в іншому випадку
        значення встановлюється за замовчуванням
        none Скасовує будь-які значення властивості
        та встановити значення за замовчуванням
    </p>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Орієнтація тексту
        </h4>
        <p>
            writing-mode — це CSS властивість, яка відповідає
            за орієнтацію відображення тексту
        </p>
    </summary>
    <div>
        <code>
        h1 {<br>
        : horizontal-tb<br>
        }
        </code>
        <p>writing-mode
            writing-mode
            Значення Опис
            horizontal-tb Горизонтальний рядок, вертикальна колонка
            Значення за замовчуванням
            vertical-rl Вертикальний рядок,
            горизонтальна колонка з напрямком справа наліво
            vertical-lr Вертикальний рядок,
            горизонтальна колонка з напрямком зліва направо
        </p>
    </div>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Вирівнювання тексту
        </h4>
        <p>
            text-align — це CSS властивість, яка встановлює
            горизонтальне вирівнювання тексту
        </p>
    </summary>
    <div>
        <code>
            h1 {<br>
            text-align: start <br>
            }<br>
        </code>
        <p>
            text-align
            Значення Опис
            left Вирівнюється по лівій стороні, значення за замовчуванням
            right Вирівнюється по правій стороні
            center Вирівнюється по центру
        </p>
    </div>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Вирівнювання тексту
        </h4>
        <p>
            Більш просунуті значення для властивості text-align
        </p>
    </summary>
    <div>
        <code>

        </code>
        <p>
            Значення Опис
            start Вирівнюється по початковій стороні
            відповідно до напрямку та орієнтації тексту
            end Вирівнюється по кінцевій стороні
            відповідно до напрямку та орієнтації тексту
            justify Розтягує текст на всю ширину контейнера, додаючи
            додатковий пробіл між словами, якщо це необхідно
        </p>
    </div>
</details>





<hr class="m-3">

<details>
    <summary>
        <h4>
            Регістр тексту
        </h4>
        <p>
            text-transform — це CSS властивість,
            яка дозволяє змінювати регістр букв у тексті
        </p>
    </summary>
    <div>
        <code>
            h1 { <br>
            text-transform:uppercase<br>
            }<br>
            text-transform<br>
        </code>
        <p>
            Значення Опис
            uppercase Перетворює текст у верхній регістр
            lowercase Перетворює текст у нижній регістр
            capitalize Перетворює першу літеру кожного слова у верхній регістр
        </p>
    </div>
</details>








<hr class="m-3">

<details>
    <summary>
        <h4>
            Ширина
            табуляції тексту
        </h4>
        <p>
            tab-size — це CSS властивість, яка визначає ширину
            відступу табуляції у тексті та кількість пробілів, які будуть
            використані для представлення одного символу табуляції.
        </p>
    </summary>
    <div>
        <code>
            h1 {<br>
            tab-size: 4<br>
            }<br>
            tab-size<br>

        </code>
        <p>
            Значення Опис
            Ціле число Кількість пробілів, які будуть еквіваленті одному табу
        </p>
    </div>
</details>






<hr class="m-3">

<details>
    <summary>
        <h4>
            Інтервал символів
            тексту
        </h4>
        <p>
            letter-spacing — це CSS властивість,
            яка визначає інтервали між символами в тексті
        </p>
    </summary>
    <div>
        <code>
h1 {
: 4px
}
letter-spacing
letter-spacing
        </code>
        <p>
            Значення: Довжина<br>
            Опис: Приймає значення в будь-якій одиниці виміру<br>
        </p>
    </div>
</details>






<hr class="m-3">

<details>
    <summary>
        <h4>
            Декорація тексту
        </h4>
        <p>
            text-decoration — це CSS властивість, яка додає ефекти
            до тексту (підкреслення, закреслення тощо)
        </p>
    </summary>
    <div>
        <code>
h1 {<br>
text-decoration: underline dotted red<br>
}<br>

text-decoration<br>
        </code>
        <p>
            Значення Опис
            L T C L - яка лінія, T - тип лінії, C - колір
            L (line) text-decoration-line
            T (type) text-decoration-style
            C (color) text-decoration-color
            text-decoration-line
            Значення Опис
            underline Це значення додає рядок під текстом
            overline Це значення додає рядок над текстом
            line-through Це значення додає лінію через середину тексту
            text-decoration-style
            Значення Опис
            solid Надає звичайну повну лінію
            double Надає подвійну лінію
            dotted Надає пунктирну лінію
            dashed Надає штриховану лінію
            wavy Надає хвилясту лінію
        </p>
    </div>
</details>