<h3>Відображення блоків</h3>
<details>
  <summary>
    <h4>
      Відображення
    </h4>
    <p>
      display — це CSS властивість, яка визначає відображення
      елемента на веб-сторінці
    </p>
  </summary>


  <div class="alerts-container">

    <div class=" col-6">
      <div class="a-primary" style="color: red">
        <div class="border-alert">
          .example {<br>
          display: inline;<br>
          }<br>
        </div>
      </div>
    </div>

    <div class=" col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <h5>display</h5>
        </div>
      </div>
    </div>

  </div>



  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>none</td>
      <td>Елемент не відображається на веб-сторінці та займає
        нульовий розмір. Він повністю видаляється з потоку
        документа</td>
    </tr>

    <tr>
      <td>block</td>
      <td>Елемент відображається як блок, займає всю доступну
        ширину батьківського елемента і починається з нового
        рядка</td>
    </tr>
    <tr>
      <td>inline</td>
      <td>Елемент відображається в рядку, поряд з іншими
        елементами, і не переноситься на новий рядок</td>
    </tr>
    <tr>
      <td>inline-block</td>
      <td>Елемент відображається в рядку, але може мати ширину,
        висоту, внутрішні відступи та інші властивості блокових
        елементів</td>
    </tr>


  </table>

</details>

<details>
  <summary>
    <h4>
      Блочні елементи
    </h4>
    <p>
      Блокові елементи
    </p>
    <p>&lt;address&gt;&lt;article&gt;&lt;aside&gt;<br>
      &lt;blockquote&gt;<br>
      &lt;dd&gt;&lt;div&gt;&lt;dl&gt;&lt;dt&gt;&lt;details&gt;<br>
      &lt;fieldset&gt;&lt;figcaption&gt;&lt;figure&gt;&lt;footer&gt;&lt;form&gt;<br>
      &lt;h1&gt;-&lt;h6&gt;&lt;header&gt;&lt;hr&gt;<br>
      &lt;li&gt;&lt;legend&gt;<br>
      &lt;nav&gt;&lt;noscript&gt;<br>
      &lt;ol&gt;&lt;output&gt;&lt;optgroup&gt;&lt;option&gt;<br>
      &lt;p&gt;&lt;pre&gt;<br>
      &lt;section&gt;&lt;summary&gt;<br>
      &lt;table&gt;<br>
      &lt;ul&gt;<br>
    </p>
  </summary>







</details>

<details>
  <summary>
    <h4>
      Лінійні елементи
    </h4>
    <p>
      Лінійні елементи
    </p>
    <p>
      &lt;a&gt;&lt;area&gt;<br>
      &lt;b&gt;&lt;bdo&gt;&lt;bdi&gt;<br>
      &lt;cite&gt;&lt;code&gt;<br>
      &lt;dfn&gt;&lt;del&gt;<br>
      &lt;em&gt;&lt;i&gt;&lt;iframe&gt;&lt;img&gt;&lt;ins&gt;<br>
      &lt;kbd&gt;&lt;label&gt;&lt;map&gt;&lt;mark&gt;<br>
      &lt;s&gt;&lt;samp&gt;&lt;small&gt;&lt;span&gt;&lt;strong&gt;&lt;sub&gt;&lt;sup&gt;<br>
      &lt;time&gt;&lt;q&gt;&lt;ruby&gt;&lt;u&gt;&lt;var&gt;<br>
    </p>
  </summary>






</details>

<details>
  <summary>
    <h4>
      Рядково-блокові елементи
    </h4>
    <p>
      Рядково-блокові елементи
    </p>
    <p>
      &lt;audio&gt;&lt;button&gt;&lt;canvas&gt;&lt;embed&gt;&lt;input&gt;&lt;meter&gt;<br>
      &lt;object&gt;&lt;progress&gt;&lt;select&gt;&lt;textarea&gt;&lt;video&gt;<br>
    </p>
  </summary>
  <div>



  </div>
</details>

<details>
  <summary>
    <h4>
      Зовнішній відступ
    </h4>
    <p>
      margin — це CSS властивість, яка задає зовнішні відступи
      елементу, відносно сусідніх елементів

    </p>
  </summary>
  <div class="row">
    <div class="alerts-container">
      <div class="col-6">
        <div class="a-primary" style="color: red">
          <div class="border-alert">
            .example {<br>
            margin: 10px;<br>
            }<br>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="a-secondary">
          <div class="border-alert">
            <h5>margin</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>Одиниця виміру</td>
      <td>Відступ зазначеної довжини в одиниці виміру</td>
    </tr>

    <tr>
      <td>%</td>
      <td>Обчислюється щодо ширини блоку контейнера</td>
    </tr>
    <tr>
      <td>auto</td>
      <td>Автоматичне вирівнювання відступів</td>
    </tr>

  </table>

</details>

<details>
  <summary>
    <h4>
      Внутрішній відступ
    </h4>
    <p>
      padding — це CSS властивість, яка задає відступи від країв
      батьківського елементу (внутрішні відступи)
    </p>
  </summary>


  <div class="row">

    <div class="alerts-container">

      <div class="col-6">
        <div class="a-primary" style="color: red">
          <div class="border-alert">
            .example {<br>
            padding: 20px;<br>
            }<br>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="a-secondary">
          <div class="border-alert">
            <h5>padding</h5>
          </div>
        </div>
      </div>

    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>


    <tr>
      <td>Одиниця виміру</td>
      <td>Відступ зазначеної довжини в одиниці виміру
      </td>
    </tr>

    <tr>
      <td>%</td>
      <td>Обчислюється щодо ширини блоку контейнера</td>
    </tr>

  </table>

</details>

<details>
  <summary>
    <h4>
      Ширина
    </h4>
    <p>
      width - це властивість CSS, яка визначає ширину елемента.
    </p>
    <p>
      Ця властивість не застосовується до лінійних елементів
    </p>
  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class="col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              h1 {<br>
              width: 250px;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>width</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>%</td>
        <td>Задає ширину відсотково відносно батьківського
          елемента.</td>
      </tr>
      <tr>
        <td>довжина</td>
        <td>Задає ширину елемента в конкретній одиниці
          вимірювання</td>
      </tr>
      <tr>
        <td>auto</td>
        <td>Задає автоматичну ширину елемента, яка залежить від
          його вмісту або властивостей батьківського
          контейнера</td>
      </tr>
      <tr>
        <td>fit-content</td>
        <td>Задає ширину елемента, що відповідає його контенту</td>
      </tr>
      <tr>
        <td>min-content</td>
        <td>Задає мінімальну ширину елемента</td>
      </tr>
      <tr>
        <td>max-content</td>
        <td>Задає максимальну ширину елемента</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Висота
    </h4>
    <p>
      height - це CSS властивість, яка визначає висоту елемента.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              h1 {<br>
              height: max-content;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class=" col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>height</h5>
            </div>
          </div>

        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>
          %
        </td>
        <td>Задає висоту відсотково відносно батьківського елемента.</td>
      </tr>

      <tr>
        <td>довжина</td>
        <td>Задає висоту елемента в конкретній одиниці вимірювання</td>
      </tr>
      <tr>
        <td>auto</td>
        <td>Задає автоматичну висоту елемента, яка залежить від
          його вмісту або властивостей батьківського
          контейнера</td>
      </tr>
      <tr>
        <td>fit-content</td>
        <td>Задає висоту елемента, що відповідає його контенту</td>
      </tr>
      <tr>
        <td>min-content</td>
        <td>Задає мінімальну висоту елемента</td>
      </tr>
      <tr>
        <td>max-content</td>
        <td>Задає максимальну висоту елемента</td>
      </tr>

    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Мінімальна ширина
    </h4>
    <p>
      min-width — це властивість CSS, яка встановлює мінімальну
      ширину елемента.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              min-width: 150px;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class=" col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>min-width</h5>
            </div>


          </div>

        </div>
      </div>

    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>none</td>
      <td>Забороняє встановлення мінімальної ширини для
        елемента</td>
    </tr>

    <tr>
      <td>%</td>
      <td>Задає мінімальну ширину відсотково відносно
        батьківського елемента.</td>
    </tr>
    <tr>
      <td>Довжина</td>
      <td>Задає мінімальну ширину елемента в конкретній
        одиниці вимірювання</td>
    </tr>
    <tr>
      <td>fit-content</td>
      <td>Задає мінімальну ширину елемента, що відповідає його
        контенту</td>
    </tr>
    <tr>
      <td>min-content</td>
      <td>Задає мінімальну ширину елемента
      </td>
    </tr>
    <tr>
      <td>max-content</td>
      <td>Задає максимальну ширину елемента</td>
    </tr>

  </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Максимальна ширина
    </h4>
    <p>
      max-width — це властивість CSS, яка встановлює
      максимальну ширину елемента.
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              max-width: 300px;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class=" col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>max-width</h5>
            </div>
          </div>



        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>none</td>
        <td>Забороняє встановлення максимальної ширини для
          елемента</td>
      </tr>

      <tr>
        <td>%</td>
        <td>Задає максимальну ширину відсотково відносно
          батьківського елемента.</td>
      </tr>
      <tr>
        <td>Довжина</td>
        <td>Задає максимальну ширину елемента в конкретній
          одиниці вимірювання
        </td>
      </tr>
      <tr>
        <td>fit-content</td>
        <td>Задає максимальну ширину елемента, що відповідає
          його контенту</td>
      </tr>
      <tr>
        <td>min-content</td>
        <td>Задає мінімальну ширину елемента</td>
      </tr>
      <tr>
        <td>max-content</td>
        <td>Задає максимальну ширину елемента</td>
      </tr>
    </table>


  </div>
</details>

<details>
  <summary>
    <h4>
      Мінімальна висота
    </h4>
    <p>
      min-height — це властивість CSS, яка встановлює
      мінімальну висоту елемента.

    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              min-height: 150px;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class=" col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>min-height</h5>
            </div>

          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>none</td>
        <td>Забороняє встановлення мінімальної висоти для
          елемента</td>
      </tr>

      <tr>
        <td>%</td>
        <td>Задає мінімальну висоту відсотково відносно
          батьківського елемента.</td>
      </tr>
      <tr>
        <td>Довжина</td>
        <td>Задає мінімальну висоту елемента в конкретній
          одиниці вимірювання
        </td>
      </tr>
      <tr>
        <td>fit-content</td>
        <td>Задає мінімальну висоту елемента, що відповідає
          його контенту</td>
      </tr>
      <tr>
        <td>min-content</td>
        <td>Задає мінімальну висоту елемента</td>
      </tr>
      <tr>
        <td>max-content</td>
        <td>Задає максимальну висоту елемента</td>
      </tr>
    </table>




  </div>
</details>

<details>
  <summary>

    <h4>
      Максимальна висота
    </h4>
    <p>
      max-height — це властивість CSS, яка встановлює
      максимальну висоту елемента.
    </p>

  </summary>

  <div class="alerts-container">

    <div class=" col-6">
      <div class="a-primary" style="color: red">
        <div class="border-alert">
          .example {<br>
          max-height: 425px;<br>
          }<br>
        </div>
      </div>
    </div>

    <div class=" col-6">
      <div class="a-secondary">
        <div class="border-alert">
          <h5>max-height</h5>
        </div>

      </div>
    </div>

  </div>

  <table class="rounded">

    <tr class="text-center">
      <th>Значення</th>
      <th>Опис</th>
    </tr>

    <tr>
      <td>none</td>
      <td>Забороняє встановлення максимальної висоти для
        елемента</td>
    </tr>

    <tr>
      <td>%</td>
      <td>Задає максимальну висоту відсотково відносно
        батьківського елемента.</td>
    </tr>
    <tr>
      <td>Довжина</td>
      <td>Задає максимальну висоту елемента в конкретній
        одиниці вимірювання
      </td>
    </tr>
    <tr>
      <td>fit-content</td>
      <td>Встановлює максимальну висоту елемента відповідно
        до його вмісту</td>
    </tr>
    <tr>
      <td>min-content</td>
      <td>Встановлює максимальну висоту елемента на розмір
        його мінімального вмісту</td>
    </tr>
    <tr>
      <td>max-content</td>
      <td>Встановлює максимальну висоту елемента на розмір
        його максимального вмісту
      </td>
    </tr>
  </table>

</details>

<details>
  <summary>
    <h4>
      Розмір коробки
    </h4>
    <p>
      box-sizing — це CSS властивість, яка визначає
      як розраховувати розмір елемента
    </p>

  </summary>

  <div>

    <div class="row">

      <div class="alerts-container">

        <div class=" col-6">
          <div class="a-primary" style="color: red">
            <div class="border-alert">
              .example {<br>
              box-sizing: content-box;<br>
              }<br>
            </div>
          </div>
        </div>

        <div class=" col-6">
          <div class="a-secondary">
            <div class="border-alert">
              <h5>box-sizing</h5>
            </div>

          </div>
        </div>

      </div>

    </div>

    <table class="rounded">

      <tr class="text-center">
        <th>Значення</th>
        <th>Опис</th>
      </tr>

      <tr>
        <td>content-box</td>
        <td>Розмір елемента включає лише його вміст, не
          враховуючи внутрішні відступи та рамку.
          Значення за замовчуванням.</td>
      </tr>

      <tr>
        <td>border-box</td>
        <td>Розмір елемента включає його вміст, внутрішні
          відступи та рамку.</td>
      </tr>

    </table>


  </div>
</details>