Що таке селектор псевдоклас?

Селектор псевдоклас — це ключове слово, додане до
звичайного селектора, яке визначає його особливий стан
Селектор псевдокласу додається через двокрапку (":")

_____________________________________________________________

Селектор цільового тегу

Селектор цільового тегу — це селектор, який вибирає тег,
якщо він має свій якір та в URL сторінки вибраний цей якір
Якір — це посилання в форматі #id , в якому замість id вказане
значення атрибута id певного тегу.
При натисканні на таке посилання, браузер буде прокручувати
сторінку до тегу з цим id


#section1:target {
color: blue;
}
:target

_____________________________________________________________


Селектор невідвіданих посилань

<code>Селектор невідвіданих посилань — це селектор, який вибирає
тег <a>, якщо по його посиланню користувач ще не переходив

    a:link {
    color: blue;
    }
    :link
    </code>

_____________________________________________________________

Селектор відвіданих посилань

Селектор відвіданих посилань — це селектор, який вибирає тег
<a>, якщо по його посиланню користувач уже переходив

    a:visited {
    color: purple;
    }

    :visited

    _____________________________________________________________

    Селектор наведення

    Селектор наведення — це селектор, який дозволяє вказати
    стилізацію в той момент, коли користувач навів мишкою на тег

    a:hover {
    color: blue;
    }
    :hover

    _____________________________________________________________


    Селектор активного тегу

    Селектор активного тегу — це селектор, який вибирає
    тег, коли користувач на нього натиснув мишкою

    button:active {
    color: blue;
    }

    :active
    _____________________________________________________________

    Селектор фокусованого тегу

    Селектор фокусованого тегу — це селектор,
    який вибирає тег, коли користувач почав взаємодіяти з ним
    Цей селектор схожий на селектор активного тегу, але
    використовується в більшості випадках для <input> тегу

    input:focus {
    color: blue;
    }

    :focus

    _____________________________________________________________

    Селектор фокус всередині тегу

    Селектор фокус всередині тегу — це селектор,
    який вибирає тег, коли користувач почав взаємодіяти
    з ним або з його дитячими тегами
    Цей селектор схожий на селектор фокусованого тегу, але
    використовується в більшості випадках для <form> тегу,
        щоб задати стилізацію при взаємодії з елементами форми

        form:focus-within {
        background-color: blue;
        }

        :focus-within

        _____________________________________________________________

        Селектор мови тегу

        Селектор мови тегу — це селектор, який вибирає тег,
        який має атрибут lang з вказаним значенням

        p:lang(fr) {
        color: blue;
        }

        :lang(value) value — це код мови

        <p lang="fr">Bonjour! Comment ça va?</p>
        <p lang="en">Hello! How are you?</p>

        _____________________________________________________________

        Селектор увімкненого тегу

        Селектор увімкненого тегу — це селектор, який вибирає тег
        форми, який доступний та не заблокований для взаємодії

        button:enabled {
        color: blue;
        }

        :enabled

        <button>Enabled button</button>
        <button disabled>Disabled button</button>

        _____________________________________________________________

        Селектор вимкненого тегу

        Селектор вимкненого тегу — це селектор, який вибирає тег
        форми, який не доступний і є заблокований для взаємодії

        button:disabled {
        color: blue;
        }

        :disabled

        <button>Enabled button</button>
        <button disabled>Disabled button</button>

        _____________________________________________________________

        Селектор редагованого тегу

        Селектор редагованого тегу — це селектор, який вибирає тег
        форми, в який ми можемо вводити свої значення

        input:read-write {
        color: blue;
        }

        :read-write

        <input>
        <input readonly>

        _____________________________________________________________

        Селектор нередагованого тегу

        Селектор нередагованого тегу — це селектор, який вибирає тег
        форми, в який ми не можемо вводити значення, а лише читати

        input:read-only {
        color: blue;
        }

        :read-only

        <input>
        <input readonly>

        _____________________________________________________________

        Селектор відміченого тегу

        Селектор відміченого тегу — це селектор, який вибирає
        тег форми, який був відмічений або вибраний користувачем

        .input-checkbox:checked {
        background-color: green;
        }

        :checked

        _____________________________________________________________

        Селектор валідного тегу

        Селектор валідного тегу — це селектор, який вибирає
        тег поля форми, який пройшов валідацію і є валідним

        input:valid {
        background-color: green;
        }

        :valid

        _____________________________________________________________

        Селектор не валідного тегу

        Селектор не валідного тегу — це селектор, який вибирає
        тег поля форми, який не пройшов валідацію і не є валідним

        input:invalid {
        background-color: green;
        }

        :invalid

        _____________________________________________________________

        Селектор необов’язкового тегу

        Селектор необов’язкового тегу — це селектор,
        який вибирає тег поля форми, який є необов’язковим

        input:optional {
        background-color: green;
        }

        :optional

        _____________________________________________________________

        Селектор за межі діапазону тегу

        Селектор за межі діапазону тегу — це селектор, який
        вибирає <input> тег, значення якого виходить за межі
        вказаного діапазону атрибутів min та max

        input:out-of-range {
        background-color: green;
        }
        :out-of-range

        _____________________________________________________________

        Селектор в межах діапазону тегу

        Селектор в межах діапазону тегу — це селектор, який
        вибирає <input> тег, значення якого знаходиться в межах
        вказаного діапазону атрибутів min та max

        input:in-range {
        background-color: green;
        }
        :in-range

        _____________________________________________________________

        Селектор наявності плейсхолдера в тегу

        Селектор наявності плейсхолдера в тегу — це селектор,
        який вибирає <input> тег, який має атрибут placeholder
        input:placeholder-shown {
        background-color: green;
        }

        :placeholder-shown