<h3>Відображення
    шрифту</h3>
<details>
    <summary>
        <h4>
            Що таке шрифт?
        </h4>
        <p>
            Шрифт (font) — це графічний малюнок накреслень літер і
            знаків, які мають спільні характеристики (стиль, розмір,
            відступ між буквами, рядками тощо)
        </p>
    </summary>
    <div>
        <code>

        </code>
        <p>
            У розробці шрифт — це набір файлів, які ми підключаємо до
            коду, їх завантажує браузер та відображає в потрібному місці
        </p>
    </div>
</details>

<details>
    <summary>
        <h4>
            Google Fonts
        </h4>
        <p>
            Google Fonts — це сервіс, який дає можливість легко
            підключити один з популярних шрифтів у ваш проєкт
        </p>
    </summary>
    <div>
        <code>

        </code>
        <p>
            Як підключити?
            Для того, щоб підключити сервіс, вам потрібно перейти
            на сайт сервісу, обрати шрифт онлайн та підключити в код
            https://fonts.google.com/
        </p>
    </div>
</details>

<details>
    <summary>
        <h4>
            Сімейство шрифту
        </h4>
        <p>
            font-family — це CSS властивість, яка визначає шрифт
            або набір шрифтів, які будуть використовуватись
            для відображення тексту на сторінці.
        </p>
    </summary>
    <div>
        <code>
            <div class="alert alert-primary" style="color: red;">
                body {<br>
                font-family: Arial, sans-serif;<br>
                }<br>
            </div>

            <div class="alert alert-primary">font-family</div>
        </code>

        <table class="rounded">

            <tr class="text-center">
                <th>Значення</th>
                <th>Опис</th>
            </tr>


            <tr>
                <td>serif</td>
                <td>Вказує на шрифти з засічками, які використовуються
                    для друкованих матеріалів або документів</td>
            </tr>

            <tr>
                <td>sans-serif</td>
                <td>Вказує на шрифти без засічок, використовуються
                    для екранного відображення</td>
            </tr>
            <tr>
                <td>monospace</td>
                <td>Вказує на шрифти, в яких кожен символ має однакову
                    ширину. Використовуються для відображення коду</td>
            </tr>
            <tr>
                <td>cursive</td>
                <td>Вказує на шрифти, що імітують почерк або каліграфію</td>
            </tr>
            <tr>
                <td>fantasy</td>
                <td>Вказує на фантазійні шрифти, які можуть мати
                    незвичайну форму символів</td>
            </tr>

        </table>
    </div>
</details>

<details>
    <summary>
        <h4>
            Розмір шрифту
        </h4>
        <p>
            font-size — це властивість CSS, яка визначає розмір шрифту
        </p>
    </summary>
    <div>
        <code>
            <div class="alert alert-primary" style="color: red;">
                p {<br>
                font-size: 16px;<br>
                }<br>
            </div>

            <div class="alert alert-primary">
                font-size
            </div>
        </code>

        <table class="rounded">

            <tr class="text-center">
                <th>Значення</th>
                <th>Опис</th>
            </tr>


            <tr>
                <td>xx-small</td>
                <td>Встановлює дуже дрібний розмір шрифту</td>
            </tr>

            <tr>
                <td>small</td>
                <td>Встановлює малий розмір шрифту</td>
            </tr>
            <tr>
                <td>medium</td>
                <td>Встановлює середній розмір шрифту,
                    відповідає розміру шрифту за замовчуванням.</td>
            </tr>
            <tr>
                <td>large</td>
                <td>Встановлює великий розмір шрифту</td>
            </tr>
            <tr>
                <td>x-large</td>
                <td>Встановлює дуже великий розмір шрифту</td>
            </tr>
            <tr>
                <td>xx-large</td>
                <td>Встановлює супер великий розмір шрифту</td>
            </tr>

            <tr>
                <td>smaller</td>
                <td>Зменшує розмір шрифту на один рівень відносно
                    розміру батьківського елемента.</td>
            </tr>
            <tr>
                <td>larger</td>
                <td>Збільшує розмір шрифту на один рівень відносно
                    розміру батьківського елемента.</td>
            </tr>
            <tr>
                <td>Відносні значення</td>
                <td>Це значення вказує розмір шрифту відносно розміру
                    шрифту батьківського елемента або кореневого
                    елемента документа. Такі значення використовуються
                    для створення гумових та адаптивних дизайнів.</td>
            </tr>
            <tr>
                <td>Абсолютні значення</td>
                <td>Розмір шрифту у конкретних одиницях виміру</td>
            </tr>

        </table>

    </div>
</details>

<details>
    <summary>
        <h4>
            Товщина шрифту
        </h4>
        <p>
            font-weight — це властивість CSS, яка визначає товщину
            шрифту елемента
        </p>
    </summary>
    <div>
        <code>
            <div class="alert alert-primary" style="color: red;">
                p {<br>
                font-weight: bold;<br>
                }<br>
            </div>

            <div class="alert alert-primary">
                font-weight
            </div>
        </code>

        <table class="rounded">

            <tr class="text-center">
                <th>Значення</th>
                <th>Опис</th>
            </tr>


            <tr>
                <td>normal 400</td>
                <td>Встановлює нормальну товщину шрифту
                    Значення за замовчуванням.</td>
            </tr>

            <tr>
                <td>bold
                    700</td>
                <td>Встановлює жирну товщину шрифту</td>
            </tr>
            <tr>
                <td>bolder</td>
                <td>Встановлює товщину шрифту жирнішу
                    відносно наявного значення.</td>
            </tr>
            <tr>
                <td>lighter</td>
                <td>Встановлює товщину шрифту менш жирну
                    відносно наявного значення.</td>
            </tr>
            <tr>
                <td>числове значення
                    від 100 до 900</td>
                <td>Встановлює числове значення відповідної товщини</td>
            </tr>

        </table>
    </div>
</details>

<details>
    <summary>
        <h4>
            Стиль шрифту
        </h4>
        <p>
            font-style — це властивість CSS, яка визначає стиль шрифту
            елемента, такого як курсив або звичайний стиль
        </p>
    </summary>
    <div>
        <div class="alert alert-primary" style="color: red;">
            h1 {<br>
            font-style: italic;<br>
            }<br>
        </div>

        <div class="alert alert-primary">
            font-style
        </div>

        <table class="rounded">

            <tr class="text-center">
                <th>Значення</th>
                <th>Опис</th>
            </tr>


            <tr>
                <td>normal</td>
                <td>Встановлює звичайний стиль шрифту
                    Значення за замовчуванням
                </td>
            </tr>

            <tr>
                <td>italic</td>
                <td>Встановлює курсивний стиль шрифту</td>
            </tr>
            <tr>
                <td>oblique</td>
                <td>Встановлює нахилений стиль шрифту,
                    є лише нахиленою версією звичайного шрифт</td>
            </tr>


        </table>
    </div>
</details>

<details>
    <summary>
        <h4>
            Прогрузка шрифту
        </h4>
        <p>
            font-display — це CSS властивість, яка каже браузер як
            поводитись коли шрифт завантажується з сервера.
        </p>
    </summary>
    <div>
        <div class="alert alert-primary" style="color: red;">
            h1 {<br>
            font-display: swap<br>
            }<br>
        </div>

        <div class="alert alert-primary">
            font-display
        </div>

        <table class="rounded">

            <tr class="text-center">
                <th>Значення</th>
                <th>Опис</th>
            </tr>


            <tr>
                <td>auto</td>
                <td>За замовчуванням браузер використовує свою стратегію</td>
            </tr>

            <tr>
                <td>block</td>
                <td>Вказує ненадовго приховати текст,
                    доки шрифт не буде повністю завантажено</td>
            </tr>
            <tr>
                <td>swap</td>
                <td>Браузер повинен замінити на більш схожий шрифт до того
                    моменту, поки заданий шрифт не буде завантажений.</td>
            </tr>
            <tr>
                <td>fallback</td>
                <td>Браузер приховає текст приблизно на 100 мс і, якщо шрифт
                    ще не завантажено, використає резервний шрифт,
                    а якщо завантажився, то він зміниться протягом 3 с</td>
            </tr>
            <tr>
                <td>optional</td>
                <td>Браузер може відкласти завантаження шрифту до того
                    моменту, поки сторінка не буде повністю завантажена,
                    не застосовуючи заміну жодного шрифту</td>
            </tr>

        </table>

        <table class="rounded">

            <tr class="text-center">
                <th>Прогрузка шрифту</th>
                <th>Період блоку</th>
                <th>Період зміни</th>
            </tr>


            <tr>
                <td>block</td>
                <td>Короткий</td>
                <td>Нескінченний</td>
            </tr>

            <tr>
                <td>swap</td>
                <td>Немає</td>
                <td>Нескінченний</td>
            </tr>
            <tr>
                <td>fallback</td>
                <td>Надзвичайно короткий</td>
                <td>Короткий</td>
            </tr>
            <tr>
                <td>optional</td>
                <td>Надзвичайно короткий</td>
                <td>Немає</td>
            </tr>


        </table>
    </div>
</details>