Що таке підтримка
селекторів?

Підтримка селекторів — це коректна робота певного селектора
в усіх браузерах
CSS досі розвивається та додає нові селектори в мову CSS,
але не всі браузери встигли додати підтримку нових селекторів
З часом нові селектори стануть доступні у будь-якому браузері
та ви зможете їх використовувати у роботі

_____________________________________________________________

:any-link — це CSS селектор, який використовується для
вибору всіх елементів-посилань (тег <a>) на сторінці, а
    також для будь-яких інших елементів, що мають атрибут
    href, що містить посилання.

    :any-link {

    color: blue;

    }
    Safari, Safari on iOS не підтримують цей селектор.


    _____________________________________________________________


    :dir() — це CSS-селектор, який використовується для
    стилізації елементів залежно від напрямку тексту
    відображення. Напрямок тексту може бути зліва направо, як
    українська (ltr) або справа наліво, як арабська (rtl), залежно
    від мови, яку використовують на сторінці.




    :dir(ltr) {

    font-family: Arial, sans-serif;

    }


    :dir(rtl) {

    font-family: Tahoma, sans-serif;

    }

    Працює тільки в Firefox та Firefox for Android.

    _____________________________________________________________

    :fullscreen — це CSS-селектор, який використовується для
    стилізації елементів, які знаходяться в повноекранному
    режимі (при натисканні на кнопку "Fullscreen" в браузері).

    .element:fullscreen {
    background-color: black;
    color: white;
    }

    Safari, Safari on iOS не підтримують цей селектор.

    _____________________________________________________________


    Селектор :current() — цей селектор є елементом або
    предком елемента, який відображається в цей момент.


    Зараз працює тільки із субтитрами на відео, що дозволяє їх
    докладніше стилізувати. Наприклад, змінити тло субтитрів.

    :current(p, li, dt, d) d {
    background: yellow;
    }

    Працює тільки в Safari, Safari on iOS

    _____________________________________________________________


    :future — це CSS-селектор, який працює у вимірі часу.

    Він вибирає будь-який елемент, який повністю з’являється
    після елемента, який відповідає псевдокласу :current.


    Зараз працює тільки із субтитрами на відео, що дозволяє їх
    докладніше стилізувати. Наприклад, відобразити частину
    наступних субтитрів.

    :future(p, span) {

    display: none;

    }

    Працює тільки в Safari, Safari on iOS

    _____________________________________________________________


    :past — це тимчасовий псевдоклас, який вибирає будь-який
    елемент, який повністю з’являється перед елементом, який
    відповідає селектором :current у часовій послідовності.


    Зараз працює тільки із субтитрами на відео, що дозволяє їх
    докладніше стилізувати. Наприклад, додати анімацію, щоб
    забрати субтитри
    :past(p, span) {

    display: none;

    }

    Працює тільки в Safari та Safari on iOS.

    _____________________________________________________________


    :host-context() — це CSS-селектор, який використовується
    для вибору елементів, які мають певні дитячі елементи

    :host-context(.specific-class) {
    background-color: yellow;
    }

    Firefox, Firefox for Android, Safari, Safari on iOS

    не підтримують цей селектор.

    _____________________________________________________________


    :has() — це CSS-селектор, який визначає елементи, які
    містять піделементи, що відповідають заданому селектору.


    Наприклад, якщо ми маємо HTML структуру зі заголовками
    (<h1>, <h2>) і абзацом (<p>), ми можемо використовувати
                селектор :has() для вибору елементу, який стоїть перед
                елементом
            <p>.

                h1:has(+ p) {
                margin-bottom: 0;
                }

                <!-- не змінюється h1 -- >

<h1>Title</h1>
<h2>Subtitle</h2>


<!-- стилізується h1 -- >

<p>Description</p> 
<h1>Title</h1>

 
Firefox та Firefox for Android не підтримують цей селектор.

_____________________________________________________________



:left — CSS-селектор, який використовується для стилізації
елементів, що знаходяться на лівій сторінці під час друку.

@page:left {
 background-color: red;
}

Firefox, Firefox for Android не підтримують цей селектор.

_____________________________________________________________


:right — CSS-селектор, який використовується для стилізації
елементів, що знаходяться на правій сторінці під час друку.

@page:right {
 background-color: green;
}

Firefox та Firefox for Android не підтримують цей селектор.

_____________________________________________________________


:first — це CSS-селектор, за допомогою якого в поєднанні з
селектором @page можна застосувати стиль лише до
першої сторінки під час друку.

@page:first {

 margin-top: 50%;

}

Firefox та Firefox for Android не підтримують цей селектор.

_____________________________________________________________




:picture-in-picture — це CSS-селектор, який
використовується для стилізації елементів, які знаходяться
в режимі picture-in-picture (зображення в зображенні).

:picture-in-picture {

 box-shadow: 0 0 0 5px red;

}

Firefox, Firefox for Android, Safari, Safari on iOS, Samsung
Internet не підтримують цей селектор.


_____________________________________________________________


:playing — це CSS-селектор, який використовується для
стилізації елементів, які знаходяться в стані відтворення.

:playing {

 border: 5px solid green;

}

Працює тільки в Safari та Safari on iOS.

_____________________________________________________________


:paused — це CSS-селектор, який використовується для
вибору елементів, які знаходяться в стані паузи (зупинені).

:paused {

 border: 5px solid orange;

}

Працює тільки в Safari та Safari on iOS.

_____________________________________________________________

Селектор :scope

:scope — це псевдоклас CSS, який має так же значення що і
:root, оскільки наразі немає способу явного встановлення
елемента з областю видимості.


У JavaScript використовується для вказівки нащадків певного
елемента

:scope {   

 background-color: tan;

}

Працює всюди окрім IE(version 11)

_____________________________________________________________


Селектор :defined
Селектор :defined — цей селектор знаходить будь-який
елемент, який був визначений, включаючи будь-який
стандартний вбудований в браузер елемент та елементи
користувача (тобто вбудовані за допомогою JS).

:defined { 
 font-style: italic; 
}

_____________________________________________________________


Селектор ::selection
Селектор ::selection — цей псевдоклас застосовує стиль до
виділеного користувачем тексту.
Працює всюди окрім Safari on iOS та Opera Mini

::selection {
 background-color: cyan;
}

_____________________________________________________________



:indeterminate — цей селектор представляє будь-який
елемент форми, стан якого невизначений.

input:indeterminate {
 background: lime;
}

 :indeterminate

_____________________________________________________________



:default — цей селектор визначає елемент форми,
встановлений спочатку під час завантаження сторінки.

input:default {
 background-color: lime;
}

 :default

_____________________________________________________________


Елемент HTML

element() — це CSS властивість, яка дозволяє вказувати
елемент HTML, який має бути використаний як початкова
точка для пошуку стилів

element(p)  {
 color: blue;
}

element(<ім'я елемента>)

значення 
<ім'я елемента> 

Опис
Це ім'я елемента HTML, для якого потрібно знайти стилі.