<nav class="nav navhelpgradient mainmenu  ">
    <div class="nav">
        <div class="nav-margin">

            <button class="btn btn-outline-primary p-0 my-1">{{>link-nav text="Main" href="/" line=true
                noLine=true}}</button>
            |
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 1" href="/css-help-1" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 2" href="/css-help-2" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 3" href="/css-help-3" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 4" href="/css-help-4" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 5" href="/css-help-5" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 6" href="/css-help-6" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 7" href="/css-help-7" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help 8" href="/css-help-8" line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Рамки та тіні" href="/css-help-9"
                line=true
                noLine=true}}</button>
            <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Робота з контентом" href="/css-help-10"
                line=true
                noLine=true}}</button>

        </div>
    </div>
</nav>