<nav>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-outline-primary">{{> link text="Main" href="/" line=true noLine=true}}</button>

      <button class="btn btn-outline-warning">{{> link text="Summary" href="/summary" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Skills" href="/skills" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Education" href="/education" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Work" href="/work" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Person" href="/person" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Biography" href="/bio" line=true noLine=true}}</button>
    </div>
    <div class="card-body">
      <button class="btn btn-outline-info">{{> link text="Program" href="/program" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Web" href="/web" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="JS" href="/js" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Car" href="/car" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Mac" href="/mac" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Facebook" href="/facebook" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Bootstrap" href="/bootstrap" line=true noLine=true}}</button>

    </div>
    <div class="card-body">
      <button class="btn btn-outline-danger">{{> link text="Task21" href="/task21" line=true noLine=true}}</button>
      <button class="btn btn-outline-danger">{{> link text="Task22" href="/task22" line=true noLine=true}}</button>
      <button class="btn btn-outline-danger">{{> link text="Task31" href="/task31" line=true noLine=true}}</button>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-body">
      <div class="nav flex-column">
        <div class="nav-item">
          <div class="card">
            {{> link text="Main" href="/" line=true noLine=true}}
          </div>
        </div>
        <br>
        <div class="nav-item">
          <div class="card">
            <a href="#" class="nav-link active">Catalog</a>
          </div>
        </div>
        <br>
        <div class="nav-item">
          <div class="card">
            <a href="/src/container/bootstrap.hbs" class="nav-link disabled">Bootstrap</a>
          </div>
        </div>
        <br>
        <div class="nav-item">
          <div class="card">
            <a href="#" class="nav-link">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>