<nav>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-primary">{{> link text="Main" href="/" line=true noLine=true}}</button>

      <button class="btn btn-outline-warning">{{> link text="Summary" href="/summary" line=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Skills" href="/skills" line=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Education" href="/education" line=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Work" href="/work" line=true }}</button>
      <button class="btn btn-outline-warning">{{> link text="Person" href="/person" line=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Biography" href="/bio" line=true noLine=true}}</button>
    </div>
    <div class="card-body">
      <button class="btn btn-outline-info">{{> link text="Program" href="/program" line=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Web" href="/web" line=true}}</button>
      <button class="btn btn-outline-info">{{> link text="JS" href="/js" line=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Car" href="/car" line=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Mac" href="/mac" line=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Facebook" href="/facebook" line=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Bootstrap" href="/bootstrap" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Task21" href="/task21" line=true noLine=true}}</button>
    </div>
    <div class="card-body">
      <button class="btn btn-outline-danger">{{> link text="Task22" href="/task22" line=true noLine=true}}</button>
    </div>
  </div>
</nav>