<nav>
  <div class="nav">
    <div class="nav-item mb-1">
      <button class="btn btn-outline-primary">{{> link text="Main" href="/" line=true noLine=true}}</button>

      <button class="btn btn-outline-warning">{{> link text="Summary" href="/summary" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Skills" href="/skills" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Education" href="/education" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Work" href="/work" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Person" href="/person" line=true noLine=true}}</button>
      <button class="btn btn-outline-warning">{{> link text="Biography" href="/bio" line=true noLine=true}}</button>
    </div>
    <div class="card-body mb-1">
      <button class="btn btn-outline-info">{{> link text="Program" href="/program" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Web" href="/web" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="JS" href="/js" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Car" href="/car" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Mac" href="/mac" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Facebook" href="/facebook" line=true noLine=true}}</button>
      <button class="btn btn-outline-info">{{> link text="Bootstrap" href="/bootstrap" line=true noLine=true}}</button>

    </div>
    <div class="card-body mb-1">
      <button class="btn btn-outline-danger">{{> link text="Task21" href="/task21" line=true noLine=true}}</button>
      <button class="btn btn-outline-danger">{{> link text="Task22" href="/task22" line=true noLine=true}}</button>
      <button class="btn btn-outline-danger">{{> link text="Task31" href="/task31" line=true noLine=true}}</button>
    </div>
    <div class="card-body mb-1">
      <button class="btn btn-outline-success">{{> link text="Shophome" href="/shophome" line=true noLine=true}}</button>
      <button class="btn btn-outline-success">{{> link text="Shoporder" href="/shoporder" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success">{{> link text="Shopcart" href="/shopcart" line=true noLine=true}}</button>
      <button class="btn btn-outline-success">{{> link text="Shopprofile" href="/shopprofile" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success">{{> link text="Shopreview" href="/shopreview" line=true
        noLine=true}}</button>
    </div>
  </div>
  <br>
</nav>