<nav>
  <div class="nav navgradient">
    <div class="nav-item mb-1">
      <button class="btn btn-outline-primary p-0 my-1">{{>link-nav text="Main" href="/" line=true noLine=true}}</button>
      |
      <button class="btn btn-outline-danger p-0 my-1">{{>link-nav text="Help" href="/css-help-1" line=true
        noLine=true}}</button>
      |
      <button class="btn btn-outline-warning p-0 my-1">{{>link-nav text="Summary" href="/summary" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning p-0 my-1">{{>link-nav text="Skills" href="/skills" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning p-0 my-1">{{>link-nav text="Education" href="/education" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning p-0 my-1">{{>link-nav text="Work" href="/work" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning p-0 my-1">{{>link-nav text="Person" href="/person" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-warning p-0 my-1">{{>link-nav text="Biography" href="/bio" line=true
        noLine=true}}</button>
      |
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Program" href="/program" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Web" href="/web" line=true noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="JS" href="/js" line=true noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Car" href="/car" line=true noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Mac" href="/mac" line=true noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Facebook" href="/facebook" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Bootstrap" href="/bootstrap" line=true
        noLine=true}}</button>

      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Task21" href="/task21" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Task22" href="/task22" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-info p-0 my-1">{{>link-nav text="Task31" href="/task31" line=true
        noLine=true}}</button>
      |
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shophome" href="/shophome" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shoporder" href="/shoporder" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shopcart" href="/shopcart" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shopprofile" href="/shopprofile" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shopreview" href="/shopreview" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shopcatalog" href="/shopcatalog" line=true
        noLine=true}}</button>
      <button class="btn btn-outline-success p-0 my-1">{{>link-nav text="Shop" href="/template-1" line=true
        noLine=true}}</button>
    </div>
  </div>
</nav>